<div class="container mt-5 w-50">
    <center>
        <h1 style="margin-top:155px">Thêm danh mục</h1>
    </center>
    <a href="/admin/category" class="btn btn-outline-dark" type="button">Quay lại </a>
    <hr>
    <form action="/admin/category" method="POST">
        <%- include('./form') %>
    </form>
</div>