<div class="form-floating mb-3">
    <input type="text" class="form-control" id="floatingInput" placeholder="Category Name" name="name" value="<%= category.name %>">
    <label for="floatingInput">Tên danh mục</label>
</div>

<div class="form-floating mt-3">
    <input type="submit" class="form-control btn btn-outline-success" id="floatingSubmit" value="Submit">
</div>