<div class="container " style="margin-top: 125px;">
    <center>
        <h1 style="margin-top:100px">Danh mục sản phẩm</h1>
    </center>
    <a href="category/add" type="button" class="btn btn-primary">Thêm danh mục</a> <br>
    <hr>
    <table class="table table-light table-striped">
        <tr>
            <th>Tên danh mục</th>

            <th>Sửa</th>

            <th>Xóa </th>

        </tr>
        <%
        categories.map(cate=>{%>
            <tr>
                <td>
                    <%= cate.name %>
                </td>
                <td><a href="/category/edit/<%= cate._id %>" class="btn btn-outline-success"><i class="fa fa-edit"></i></a></td>
                <td>
                    <%- include('../part/deleteForm',{url:`/category/delete/${cate._id}`}) %>
                </td>
            </tr>
            <%})
%>
    </table>
</div>