<footer class=" footer-main text-white" style="font-family: 'Baloo Thambi 2', cursive; ">
    <!-- Grid container -->
    <div class="container p-4">
        <!-- Section: Social media -->

        <section class="mb-4 text-center">
            <label style="font-family: 'Anton', sans-serif; ">Social Media:</label>
            <!-- Facebook -->
            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fa fa-facebook-f"></i
        ></a>

            <!-- Twitter -->
            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fa fa-twitter"></i
        ></a>

            <!-- Google -->
            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fa fa-google"></i
        ></a>

            <!-- Instagram -->
            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fa fa-instagram"></i
        ></a>

            <!-- Github -->
            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fa fa-github"></i
        ></a>
        </section>
        <!-- Section: Social media -->

        <!-- Section: Form -->
        <section class="">
            <form action="">
                <!--Grid row-->
                <div class="row d-flex justify-content-center">
                    <!--Grid column-->
                    <div class="col-auto">
                        <p class="pt-2" style="font-family: 'Anton', sans-serif; ">
                            <strong> Đăng ký nhận bản tin của chúng tôi:</strong>
                        </p>
                    </div>
                    <!--Grid column-->

                    <!--Grid column-->
                    <div class="col-md-5 col-12">
                        <!-- Email input -->
                        <div class="form-outline form-white mb-4">
                            <input type="email" id="form5Example2" class="form-control" placeholder="Email address" />

                        </div>
                    </div>
                    <!--Grid column-->

                    <!--Grid column-->
                    <div class="col-auto">
                        <!-- Submit button -->
                        <button type="submit" class="btn btn-outline-light mb-4 ">
                Subscribe
              </button>
                    </div>
                    <!--Grid column-->
                </div>
                <!--Grid row-->
            </form>
        </section>
        <!-- Section: Form -->

        <!-- Section: Links -->
        <section class="">
            <!--Grid row-->
            <div class="row">
                <!--Grid column-->
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">

                    <img src="/img/1.png" alt="" width="270" height="270"><br><br>
                    <!-- <iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d251637.95196238213!2d105.6189045!3d9.779349!3m2!1i1024!2i768!4f13.1!5e0!3m2!1svi!2s!4v1629994752375!5m2!1svi!2s" width="300" height="250" style="border:1px solid #fff; border-radius:10px"
                        allowfullscreen="" loading="lazy"></iframe> -->
                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <h4 class="text-uppercase  " style="padding-left: 20px;font-family: 'Anton', sans-serif;">About</h3>
                        <br>
                        <ul class="list-unstyled mb-0 " style="padding-left: 20px;line-height: 35px;">
                            <li>
                                <a href="#!" class="text-white">Về chúng tôi</a>
                            </li>
                            <li>
                                <a href="#!" class="text-white">Chuyện cà phê</a>
                            </li>
                            <li>
                                <a href="#!" class="text-white">Tuyển dụng</a>
                            </li>
                            <li>
                                <a href="#!" class="text-white">Ưu đãi thành viên</a>
                            </li>
                            <li>
                                <a href="#!" class="text-white">Tin tức</a>
                            </li>
                            <li>
                                <a href="#!" class="text-white">Sản phẩm</a>
                            </li>
                        </ul>
                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <h4 class="text-uppercase;" style="font-family: 'Anton', sans-serif;">Always-on Support</h4>
                    <p>Delivery 1800 1789 (7:00 a.m - 21:00 p.m)</p>
                    <p>Hỗ trợ 056 113 (7:00 a.m - 21:00 p.m)</p>
                    <hr>
                    <h4 class="text-uppercase " style="font-family: 'Anton', sans-serif;">Địa chỉ</h4>
                    <p>86 - 88 Cao Thang, Ward 4, District 3, Ho Chi Minh, Vietnam.</p>
                    <p>Email: theharleyhouse@gmail.com</p>
                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <h4 class="text-uppercase" style="font-family: 'Anton', sans-serif;">Mobile Apps</h4>

                    <ul class="list-unstyled mb-0">

                        <li>
                            <img src="/img/ggplay.png" alt="" width="200">
                        </li>
                        <li>
                            <img src="/img/appst.png" alt="" width="200">
                        </li>
                    </ul>
                </div>
                <!--Grid column-->
            </div>
            <!--Grid row-->
        </section>
        <!-- Section: Links -->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <hr>
    <div class="container text-center">
        <p>&copy <span id="year">

        </span>copy right by <a href="/">MienMien</a></p>
    </div>
    <!-- Copyright -->
</footer>
<!-- Footer -->