<footer class=" footer-main text-white " style="font-family: 'Baloo Thambi 2', cursive; ">
    <!-- Grid container -->

    <div class="container p-4">
        <!-- Section: Social media -->

        <section class="social-footer mb-4 text-center">

            <label style="font-family: 'Anton', sans-serif; ">Mạng Xã Hội:</label>
            <!-- Facebook -->
            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fa fa-facebook-f"></i
        ></a>

            <!-- Twitter -->
            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fa fa-twitter"></i
        ></a>

            <!-- Google -->
            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fa fa-google"></i
        ></a>

            <!-- Instagram -->
            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fa fa-instagram"></i
        ></a>

            <!-- Github -->

        </section>
        <!-- Section: Social media -->

        <!-- Section: Links -->
        <section class="">
            <!--Grid row-->
            <div class="row">
                <!--Grid column-->
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">

                    <img src="/img/1.png" alt="" width="270" height="270"><br><br>
                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <h4 class="text-uppercase  " style="padding-left: 20px;font-family: 'Anton', sans-serif;">Giới thiệu</h3>
                        <br>
                        <ul class="list-unstyled mb-0 " style="padding-left: 20px;line-height: 35px;">
                            <li>
                                <a href="/function/aboutUs" class="text-white">Về chúng tôi</a>
                            </li>
                            <li>
                                <a href="#!" class="text-white">Chuyện cà phê</a>
                            </li>
                            <li>
                                <a href="#!" class="text-white">Tuyển dụng</a>
                            </li>
                            <li>
                                <a href="#!" class="text-white">Liên hệ chúng tôi</a>
                            </li>
                            <li>
                                <a href="#!" class="text-white">Tin tức</a>
                            </li>
                            <li>
                                <a href="#!" class="text-white">Sản phẩm</a>
                            </li>
                        </ul>
                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <h4 class="text-uppercase;" style="font-family: 'Anton', sans-serif;">Đặt hàng</h4>
                    <p>Delivery 1800 1789 (7:00 a.m - 21:00 p.m)</p>
                    <p>Hỗ trợ 056 113 (7:00 a.m - 21:00 p.m)</p>
                    <hr>
                    <h4 class="text-uppercase " style="font-family: 'Anton', sans-serif;">Địa chỉ</h4>
                    <p>86 - 88 Cao Thắng, phường 4, quận 3, Hồ Chí Minh.</p>
                    <p>Email: theharleyhouse@gmail.com</p>
                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">

                    <!--<h4 class="text-uppercase" style="font-family: 'Anton', sans-serif;">Mobile Apps</h4>-->

                    <ul class="list-unstyled mb-0">

                        <li>
                            <img src="/img/ggplay.png" alt="" width="200">
                        </li>
                        <li>
                            <img src="/img/appst.png" alt="" width="200">
                        </li>
                        <li> <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FThe-Harley-CoffeeTea-101156085680440%2F&tabs=timeline&width=300&height=70&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId=187679260172372"
                                width="300" height="70" style="border-radius:10px; background:#000; border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
                        </li>
                    </ul>
                </div>
                <!--Grid column-->
            </div>
            <!--Grid row-->
        </section>
        <!-- Section: Links -->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <hr>
    <div class="container text-center">
        <p>&copy <span id="year">

        </span> copy right by <a href="/">MienMien</a></p>
    </div>
    <!-- Copyright -->
</footer>
<!-- Footer -->