<nav class="navbar navbar-expand-lg navbar-dark px-5 py-3 fixed-top" style=" background: #000;font-family: 'Anton', sans-serif; ">
    <div class="container-fluid">
        <strong><a class="navbar-brand" href="/" style="margin-left:70px" > <img src="/img/logo.png" alt="" width="250" height="40"> </a></strong>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">

                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/"><i class="fa fa-home"></i></a>
                </li>


                <li class="nav-item dropdown">
                    <div class="dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fa fa-coffee"></i>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                            <li><a class="dropdown-item" href="/category/">Phân loại</a></li>
                            <li><a class="dropdown-item" href="/product/">Sản phẩm</a></li>

                        </ul>

                    </div>
                </li>
                <li class="nav-item dropdown">
                    <div class="dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Câu chuyện thương hiệu
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                            <li><a class="dropdown-item" href="/">Về The Harley House</a></li>
                            <li><a class="dropdown-item" href="/">Trách nhiệm cộng đồng</a></li>
                            <li><a class="dropdown-item" href="/">Thông cáo báo chí</a></li>
                        </ul>

                    </div>
                </li>
                <li class="nav-item dropdown">
                    <div class="dropdown">
                        <a class="nav-link dropdown" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Chuyện cà phê
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                            <li><a class="dropdown-item" href="/">Hành trình từ nông trại đến ly cà phê</a></li>
                            <li><a class="dropdown-item" href="/">The Harley House Coffee Beans</a></li>
                            <li><a class="dropdown-item" href="/">Nghệ thuật của pha chế</a></li>
                            <li><a class="dropdown-item" href="/">Coffee Workshop </a></li>

                        </ul>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/">Tuyển dụng</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/">Ưu đãi thành viên</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/">tin tức</a>
                </li>
                <li class="nav-item dropdown">
                    <div class="dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fa fa-user"></i>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">

                            <li><a class="dropdown-item" href="/user/login"><i class="fa fa-sign-in"></i> </a></li>
                            <li><a class="dropdown-item" href="/user/register">Profile </a></li>
                            <li><a class="dropdown-item" href="/user/register">Register </a></li>
                            <li><a class="dropdown-item" href="/user/logout"><i class="fa fa-sign-out"></i> </a></li>
                            <li><a class="dropdown-item" href="/user">List User</a></li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/cart/"><i class="fa fa-shopping-cart"></i>
                        <span id="numCart1">
                            <span id="numCart2">(
                                <%
                                if(session.cart){%>
                                    <%= session.cart.items.length %>
                                  <%}
                                  else{%>
                                    0
                                <%}
                                 %>
                                 )
                            </span>
                        </span></a>

                </li>

            </ul>
            <form class="d-flex" action="/product/search" method="GET">
                <input required class="form-control me-2" type="text" placeholder="Search" aria-label="Search" name="name" id="name">
                <button class="btn btn-outline-light" style="background:#ea8025;" type="submit"><i class="fa fa-search"></i></button>
            </form>
        </div>
    </div>
</nav>