.checkout {
  background: #f5f5f5;
  padding: 30px;
  padding-top: 20px;
  margin-top: 50px;
  height: 220px;
}
.checkout ul li {
  font-size: 16px;
  color: #1c1c1c;
  font-weight: 700;
  list-style: none;
  overflow: hidden;
  border-bottom: 1px solid #ebebeb;
  padding-bottom: 13px;
  margin-bottom: 18px;
}
.checkout h4 {
  color: #1c1c1c;
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 28px;
}

.discount form input {
  width: 255px;
  height: 48px;
  border: 1px solid #cccccc;
  font-size: 16px;
  color: #b2b2b2;
  text-align: center;
  display: inline-block;
  margin-right: 15px;
}
.discount {
  margin-top: 50px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.discount form button {
  padding: 15px 30px 11px;
  font-size: 13px;
  letter-spacing: 4px;
  color: #fff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background: linear-gradient(
    to left,
    #955722,
    #865124,
    #664327,
    #3e210d,
    #341b0a
  );
}
.discount form button:hover {
  color: #fff;
  background: linear-gradient(
    to right,
    #955722,
    #865124,
    #664327,
    #3e210d,
    #341b0a
  ) !important;
}
.quantity form input {
  border-color: #865124;
  color: #865124;
}
