* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.footer-main {
    background: linear-gradient(to left,#955722, #865124, #664327, #3e210d, #341b0a);
    color: #fff;
    padding: 20px;
}

.footer-main a {
    color: #fff;
    text-decoration: none;
}

.navbar {
    font-family: 'Anton', sans-serif;
    text-transform: uppercase;

}

.main {
    min-height: 80vh;
    font-family: 'Anton', sans-serif;
}

.product-card {
    width: 100%;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
}

.product-card .img img {
    width: 100%;
    height: 250px;
    object-fit: fill;
    /*thu nho theo ti le mong muon */
}

.content a {
    text-transform: uppercase;
    margin-top: 10px;
    text-decoration: none;
    color: #000;
}

.content h4 {
    color: #ea8025;
}

.content a:hover {
    color: #ea8025;
}

.menu_home_title:after {
    background: #191919;
}

.menu_home_title {
    color: #ea8025;
}

.line_after_heading:after {
    content: '';
    height: 4px;
    background: #191919;
    width: 5%;
    display: block;
}

.line_after_heading2:after {
    content: '';
    height: 4px;
    background: #fff;
    width: 5%;
    display: block;
}