.d-banner-desktop {
    display: block;
}
.tcf-banner {
    height: 70vh;
}
.tcf-banner {
    height: 80vh;
    background: url(/img/tuyendung.jpg) top center no-repeat;
    margin-top: 4.25rem;
    width: 100%;
    background-size: cover !important;
    overflow-x: hidden;
}
.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.col-12 {
    flex: 0 0 100%;
    max-width: 100%;
}
.text-dark-1 {
    color: #000;
}
.tcf-slogan {
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 3rem;
    text-align: center;
    background: linear-gradient(135deg, #ff9200 0, #ef4d00 100%);
    margin-bottom: 2rem;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
}
.d-none {
    display: none !important;
}

.tch-questions-apply-section {
    padding: 2rem 0;
}
.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.tch-questions-apply-section .tch-questions-apply-title {
    font-size: 1.25rem;
    line-height: 1.5rem;
    text-align: center;
    font-weight: 700;
    color: #000;
}
.justify-content-center {
    justify-content: center !important;
}
a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
}
.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}
.tcf-btn-orange-2 {
    width: 100%;
    background: linear-gradient(180deg, #ffb438 0, #fd8117 100%);
    border-radius: 4px;
    padding: .5rem 0;
    font-size: 1rem;
    line-height: 1.125rem;
    height: 100%;
}