<div class="container " style="margin-top: 155px;">
    <div class="box_mid">
        <div class="mid-title">
    
                <div class="titleL"><h1>Tin tức &amp; Sự kiện</h1></div>
                <div class="titleR"></div>
                <div class="clear"></div>
    
        </div>
    
    
      <div class="mid-content">
         
    
    <div id="resultNews">
        <div class="row" id="ListItem">
            
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
        <div class="news" itemscope="" itemtype="http://schema.org/Article">
            <div class="img" itemprop="image" itemscope="" itemtype="https://schema.org/ImageObject"> <a href="https://www.highlandscoffee.com.vn/vn/dieu-khoan-va-dieu-kien-ap-dung-cua-ung-dung-highlands-coffee.html" title="ĐIỀU KHOẢN VÀ ĐIỀU KIỆN ÁP DỤNG CỦA ỨNG DỤNG HIGHLANDS COFFEE"><img src="https://www.highlandscoffee.com.vn/vnt_upload/news/11_2021/thumbs/470_crop_HC-app.png" alt="ĐIỀU KHOẢN VÀ ĐIỀU KIỆN ÁP DỤNG CỦA ỨNG DỤNG HIGHLANDS COFFEE"></a></div>
            <div class="tend"><h3 itemprop="headline"><a href="https://www.highlandscoffee.com.vn/vn/dieu-khoan-va-dieu-kien-ap-dung-cua-ung-dung-highlands-coffee.html" title="ĐIỀU KHOẢN VÀ ĐIỀU KIỆN ÁP DỤNG CỦA ỨNG DỤNG HIGHLANDS COFFEE">ĐIỀU KHOẢN VÀ ĐIỀU KIỆN ÁP DỤNG CỦA ỨNG DỤNG HIGHLANDS COFFEE</a></h3></div>
            <div class="date"><span>23/11/2021, 20:49</span></div>
        </div>
    </div>
    
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
        <div class="news" itemscope="" itemtype="http://schema.org/Article">
            <div class="img" itemprop="image" itemscope="" itemtype="https://schema.org/ImageObject"> <a href="https://www.highlandscoffee.com.vn/vn/highlands-cap-nhat-gia-ban-theo-chinh-sach-thue-gtgt-mo.html" title="HIGHLANDS CẬP NHẬT GIÁ BÁN THEO CHÍNH SÁCH THUẾ GTGT MỚI"><img src="https://www.highlandscoffee.com.vn/vnt_upload/news/11_2021/thumbs/470_crop_HCO_7619_MOBILE_APP_NEW_VAT_TAX_BANNER_WEBSITE_ENG_1.jpg" alt="HIGHLANDS CẬP NHẬT GIÁ BÁN THEO CHÍNH SÁCH THUẾ GTGT MỚI"></a></div>
            <div class="tend"><h3 itemprop="headline"><a href="https://www.highlandscoffee.com.vn/vn/highlands-cap-nhat-gia-ban-theo-chinh-sach-thue-gtgt-mo.html" title="HIGHLANDS CẬP NHẬT GIÁ BÁN THEO CHÍNH SÁCH THUẾ GTGT MỚI">HIGHLANDS CẬP NHẬT GIÁ BÁN THEO CHÍNH SÁCH THUẾ GTGT MỚI</a></h3></div>
            <div class="date"><span>01/11/2021, 11:44</span></div>
        </div>
    </div>
    
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
        <div class="news" itemscope="" itemtype="http://schema.org/Article">
            <div class="img" itemprop="image" itemscope="" itemtype="https://schema.org/ImageObject"> <a href="https://www.highlandscoffee.com.vn/vn/highlands-coffee-chinh-thuc-ra-mat-ung-dung-di-dong-moi-.html" title="HIGHLANDS COFFEE CHÍNH THỨC RA MẮT ỨNG DỤNG DI ĐỘNG 'MỚI'"><img src="https://www.highlandscoffee.com.vn/vnt_upload/news/10_2021/thumbs/470_crop_HCO-7662-MOBILE-APP-QR-YOUTUBE-BANNER_-_Copy.jpg" alt="HIGHLANDS COFFEE CHÍNH THỨC RA MẮT ỨNG DỤNG DI ĐỘNG 'MỚI'"></a></div>
            <div class="tend"><h3 itemprop="headline"><a href="https://www.highlandscoffee.com.vn/vn/highlands-coffee-chinh-thuc-ra-mat-ung-dung-di-dong-moi-.html" title="HIGHLANDS COFFEE CHÍNH THỨC RA MẮT ỨNG DỤNG DI ĐỘNG 'MỚI'">HIGHLANDS COFFEE CHÍNH THỨC RA MẮT ỨNG DỤNG DI ĐỘNG 'MỚI'</a></h3></div>
            <div class="date"><span>18/10/2021, 22:14</span></div>
        </div>
    </div>
    
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
        <div class="news" itemscope="" itemtype="http://schema.org/Article">
            <div class="img" itemprop="image" itemscope="" itemtype="https://schema.org/ImageObject"> <a href="https://www.highlandscoffee.com.vn/vn/banh-trung-thu-highlands-coffee-se-chia-tinh-tuy-dat-viet.html" title="BÁNH TRUNG THU HIGHLANDS COFFEE - Sẻ chia tinh túy Đất Việt"><img src="https://www.highlandscoffee.com.vn/vnt_upload/news/08_2021/thumbs/470_crop_HC_7654_MOONCAKE_2021_KV_1920X1080.jpg" alt="BÁNH TRUNG THU HIGHLANDS COFFEE - Sẻ chia tinh túy Đất Việt"></a></div>
            <div class="tend"><h3 itemprop="headline"><a href="https://www.highlandscoffee.com.vn/vn/banh-trung-thu-highlands-coffee-se-chia-tinh-tuy-dat-viet.html" title="BÁNH TRUNG THU HIGHLANDS COFFEE - Sẻ chia tinh túy Đất Việt">BÁNH TRUNG THU HIGHLANDS COFFEE - Sẻ chia tinh túy Đất Việt</a></h3></div>
            <div class="date"><span>04/08/2021, 17:02</span></div>
        </div>
    </div>
    
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
        <div class="news" itemscope="" itemtype="http://schema.org/Article">
            <div class="img" itemprop="image" itemscope="" itemtype="https://schema.org/ImageObject"> <a href="https://www.highlandscoffee.com.vn/vn/lich-hoat-dong-tet-nguyen-dan-2021-cua-highlands-coffee-tren-toan-quoc.html" title="LỊCH HOẠT ĐỘNG TẾT NGUYÊN ĐÁN 2021 CỦA HIGHLANDS COFFEE TRÊN TOÀN QUỐC"><img src="https://www.highlandscoffee.com.vn/vnt_upload/news/02_2021/thumbs/470_crop_HCO_7644_FESTIVE_2021_SCHEDULE_THUMBNAIL-03_1.png" alt="LỊCH HOẠT ĐỘNG TẾT NGUYÊN ĐÁN 2021 CỦA HIGHLANDS COFFEE TRÊN TOÀN QUỐC"></a></div>
            <div class="tend"><h3 itemprop="headline"><a href="https://www.highlandscoffee.com.vn/vn/lich-hoat-dong-tet-nguyen-dan-2021-cua-highlands-coffee-tren-toan-quoc.html" title="LỊCH HOẠT ĐỘNG TẾT NGUYÊN ĐÁN 2021 CỦA HIGHLANDS COFFEE TRÊN TOÀN QUỐC">LỊCH HOẠT ĐỘNG TẾT NGUYÊN ĐÁN 2021 CỦA HIGHLANDS COFFEE TRÊN TOÀN QUỐC</a></h3></div>
            <div class="date"><span>05/02/2021, 14:33</span></div>
        </div>
    </div>
    
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
        <div class="news" itemscope="" itemtype="http://schema.org/Article">
            <div class="img" itemprop="image" itemscope="" itemtype="https://schema.org/ImageObject"> <a href="https://www.highlandscoffee.com.vn/vn/highlands-coffee-ra-mat-phindi-hong-tra-moi.html" title="HIGHLANDS COFFEE RA MẮT PHINDI HỒNG TRÀ MỚI"><img src="https://www.highlandscoffee.com.vn/vnt_upload/news/12_2020/thumbs/470_crop_pdht-dec-news.jpg" alt="HIGHLANDS COFFEE RA MẮT PHINDI HỒNG TRÀ MỚI"></a></div>
            <div class="tend"><h3 itemprop="headline"><a href="https://www.highlandscoffee.com.vn/vn/highlands-coffee-ra-mat-phindi-hong-tra-moi.html" title="HIGHLANDS COFFEE RA MẮT PHINDI HỒNG TRÀ MỚI">HIGHLANDS COFFEE RA MẮT PHINDI HỒNG TRÀ MỚI</a></h3></div>
            <div class="date"><span>08/12/2020, 14:51</span></div>
        </div>
    </div>
    
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
        <div class="news" itemscope="" itemtype="http://schema.org/Article">
            <div class="img" itemprop="image" itemscope="" itemtype="https://schema.org/ImageObject"> <a href="https://www.highlandscoffee.com.vn/vn/highlands-coffee-phindi-ca-phe-phin-the-he-moi.html" title="Highlands Coffee PhinDi - CÀ PHÊ PHIN THẾ HỆ MỚI!"><img src="https://www.highlandscoffee.com.vn/vnt_upload/news/09_2020/thumbs/470_crop_ssss-01.png" alt="Highlands Coffee PhinDi - CÀ PHÊ PHIN THẾ HỆ MỚI!"></a></div>
            <div class="tend"><h3 itemprop="headline"><a href="https://www.highlandscoffee.com.vn/vn/highlands-coffee-phindi-ca-phe-phin-the-he-moi.html" title="Highlands Coffee PhinDi - CÀ PHÊ PHIN THẾ HỆ MỚI!">Highlands Coffee PhinDi - CÀ PHÊ PHIN THẾ HỆ MỚI!</a></h3></div>
            <div class="date"><span>07/09/2020, 11:21</span></div>
        </div>
    </div>
    
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
        <div class="news" itemscope="" itemtype="http://schema.org/Article">
            <div class="img" itemprop="image" itemscope="" itemtype="https://schema.org/ImageObject"> <a href="https://www.highlandscoffee.com.vn/vn/highlands-coffee-top-50-thuong-hieu-nha-tuyen-dung-hap-dan-nhat-voi-sinh-vien-viet-nam-2020-1588922798.html" title="HIGHLANDS COFFEE - TOP 50 THƯƠNG HIỆU NHÀ TUYỂN DỤNG HẤP DẪN NHẤT VỚI SINH VIÊN VIỆT NAM 2020"><img src="https://www.highlandscoffee.com.vn/vnt_upload/news/05_2020/thumbs/470_crop_Untitled-1.png" alt="HIGHLANDS COFFEE - TOP 50 THƯƠNG HIỆU NHÀ TUYỂN DỤNG HẤP DẪN NHẤT VỚI SINH VIÊN VIỆT NAM 2020"></a></div>
            <div class="tend"><h3 itemprop="headline"><a href="https://www.highlandscoffee.com.vn/vn/highlands-coffee-top-50-thuong-hieu-nha-tuyen-dung-hap-dan-nhat-voi-sinh-vien-viet-nam-2020-1588922798.html" title="HIGHLANDS COFFEE - TOP 50 THƯƠNG HIỆU NHÀ TUYỂN DỤNG HẤP DẪN NHẤT VỚI SINH VIÊN VIỆT NAM 2020">HIGHLANDS COFFEE - TOP 50 THƯƠNG HIỆU NHÀ TUYỂN DỤNG HẤP DẪN NHẤT VỚI SINH VIÊN VIỆT NAM 2020</a></h3></div>
            <div class="date"><span>08/05/2020, 14:25</span></div>
        </div>
    </div>
    
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
        <div class="news" itemscope="" itemtype="http://schema.org/Article">
            <div class="img" itemprop="image" itemscope="" itemtype="https://schema.org/ImageObject"> <a href="https://www.highlandscoffee.com.vn/vn/cap-nhat-hoat-dong-tam-thoi-cua-tat-ca-cua-hang-highlands-coffee-den-het-15/04/2020-1586254422.html" title="CẬP NHẬT HOẠT ĐỘNG TẠM THỜI CỦA TẤT CẢ CỬA HÀNG HIGHLANDS COFFEE ĐẾN HẾT 15/04/2020"><img src="https://www.highlandscoffee.com.vn/vnt_upload/news/04_2020/thumbs/470_crop_2.png" alt="CẬP NHẬT HOẠT ĐỘNG TẠM THỜI CỦA TẤT CẢ CỬA HÀNG HIGHLANDS COFFEE ĐẾN HẾT 15/04/2020"></a></div>
            <div class="tend"><h3 itemprop="headline"><a href="https://www.highlandscoffee.com.vn/vn/cap-nhat-hoat-dong-tam-thoi-cua-tat-ca-cua-hang-highlands-coffee-den-het-15/04/2020-1586254422.html" title="CẬP NHẬT HOẠT ĐỘNG TẠM THỜI CỦA TẤT CẢ CỬA HÀNG HIGHLANDS COFFEE ĐẾN HẾT 15/04/2020">CẬP NHẬT HOẠT ĐỘNG TẠM THỜI CỦA TẤT CẢ CỬA HÀNG HIGHLANDS COFFEE ĐẾN HẾT 15/04/2020</a></h3></div>
            <div class="date"><span>07/04/2020, 16:40</span></div>
        </div>
    </div>
    
        </div>
    </div>
    <div class="div-more-list">
        <span id="more-loading" class="more-loading">Đang tải dữ liệu , bạn vui lòng chờ trong giây lát...</span>
        <div class="linkMore text-center"><a onclick="vnTNews.loadMore();" href="javascript:void(0)" id="morelist" pageid="1" catid="1" filterparam="">Xem thêm <span class="num">21</span></a> </div>
    </div>
    
    
      </div>          
    </div>
</div>
