<div class="container " style="margin-top: 155px;">
  
<div class="content mb-2" style="background-color: #000;">
  <div class="container my-3 mt-5 pt-5 ">
      <div class="row ">
          <h1 class="menu_home_title line_after_heading2" style="font-family: 'Anton', sans-serif;"><strong>Bảng Tin </strong><a href="" class="btn btn-outline-light" style="float:right; width:200px; height:40px;text-transform: uppercase; color:#ea8025; font-family: 'Anton', sans-serif; ">Tất cả bài viết</a> <br></h1>
          <div class="col-md-12 bg-light pt-3 ">
              <img src="/img/banner_app.jpg" alt="" width="100%" height="350px"> <br><br>
          </div>

          <div class="col-md-12 bg-light" style=" margin-bottom: 50px; ">
              <p style="font-size:18px; font-weight: bold;color: #ea8025">TIN TỨC</p>
              <h1 style="font-size:20px; font-family: 'Anton', sans-serif;">THE HARLEY HOUSE GIAO HÀNG TẬN NƠI TẤT CẢ CÁC SẢN PHẨM CÀ PHÊ UỐNG LIỀN</h1>
              <p style="font-size:18px; font-family: 'Baloo Thambi 2', cursive;">Không để bạn chờ lâu trong mùa dịch này, từ nay THH chính thức mở lại dịch vụ giao hàng tận nơi cho khu vực Hồ Chí Minh... <a href="" class="list-unstyled" style="color: #ea8025;float: right">Xem thêm</a></p>

              <br>
              <br>
          </div>
          <div class="row-sm-6 col-md-4 bg-light pt-3" style=" margin-bottom: 50px; ">
              <div class="img">
                  <img src="/img/freeship.jpg" alt="" width="100%" height="200px"> <br><br>

              </div>
              <div class="content2" style=" margin-bottom: 50px; ">
                  <p style="font-size:18px; font-weight: bold;color: #ea8025">TIN TỨC</p>
                  <h1 style="font-size:20px;font-family: 'Anton', sans-serif; ">THÔNG BÁO: THE HARLEY HOUSE VỀ LẠI FREESHIP</h1>
                  <p style="font-family: 'Baloo Thambi 2', cursive;">Không để bạn chờ lâu trong mùa dịch này, từ nay THH chính thức mở lại dịch vụ giao hàng tận nơi cho khu vực Hồ Chí Minh... <a href="" class="list-unstyled" style="color: #ea8025;float: right">Xem thêm</a></p>

              </div>
          </div>

          <div class="row-sm-6 col-md-4 bg-light pt-3" style=" margin-bottom: 50px;  ">
              <div class="img">
                  <img src="/img/uudai.jpg" alt="" width="100%" height="200px"> <br><br>

              </div>
              <div class="content2" style=" margin-bottom: 50px; ">
                  <p style="font-size:18px; font-weight: bold;color: #ea8025">TIN TỨC</p>
                  <h1 style="font-size:20px;font-family: 'Anton', sans-serif; ">THE HARLEY HOUSE GIAO HÀNG TẬN NƠI TẤT CẢ CÁC SẢN PHẨM CÀ PHÊ UỐNG LIỀN</h1>
                  <p style="font-family: 'Baloo Thambi 2', cursive;">Không để bạn chờ lâu trong mùa dịch này, từ nay THH chính thức mở lại dịch vụ giao hàng tận nơi cho khu vực Hồ Chí Minh... <a href="" class="list-unstyled" style="color: #ea8025;float: right">Xem thêm</a></p>

              </div>
          </div>

          <div class="row-sm-6 col-md-4 bg-light pt-3 " style=" margin-bottom: 50px; ">
              <div class="img">
                  <img src="/img/giaohang.png" alt="" width="100%" height="200px"> <br><br>

              </div>
              <div class="content2" style=" margin-bottom: 50px; ">
                  <p style="font-size:18px; font-weight: bold;color: #ea8025">TIN TỨC</p>
                  <h1 style="font-size:20px; font-family: 'Anton', sans-serif; ">THE HARLEY HOUSE GIAO HÀNG TẬN NƠI TẤT CẢ CÁC SẢN PHẨM CÀ PHÊ UỐNG LIỀN</h1>
                  <p style="font-family: 'Baloo Thambi 2', cursive;">Không để bạn chờ lâu trong mùa dịch này, từ nay THH chính thức mở lại dịch vụ giao hàng tận nơi cho khu vực Hồ Chí Minh... <a href="" class="list-unstyled" style="color: #ea8025;float: right">Xem thêm</a></p>

              </div>
          </div>


      </div>
  </div>
</div>

  
</div>
