<div class="container " style="margin-top: 155px;">
    <div class="mid-title">
        <div class="titleL"><h1>Tin tức &amp; Sự kiện</h1></div>
        <div class="titleR"></div>
        <div class="clear"></div>
    </div>

    
<div class="content mb-2" style="">
    <div class="container my-3 mt-5 pt-5 ">
        <div class="row ">
            

            
            <div class="row-sm-6 col-md-4 bg-light pt-3" style=" margin-bottom: 50px; ">
                <div class="img">
                    <img src="/img/freeship.jpg" alt="" width="100%" height="200px"> <br><br>

                </div>
                <div class="content2" style=" margin-bottom: 50px; ">
                    <p style="font-size:18px; font-weight: bold;color: #ea8025">TIN TỨC</p>
                    <h1 style="font-size:20px;font-family: 'Anton', sans-serif; ">THÔNG BÁO: THE HARLEY HOUSE VỀ LẠI FREESHIP</h1>
                    <p style="font-family: 'Baloo Thambi 2', cursive;">Không để bạn chờ lâu trong mùa dịch này, từ nay THH chính thức mở lại dịch vụ giao hàng tận nơi cho khu vực Hồ Chí Minh... <a href="" class="list-unstyled" style="color: #ea8025;float: right">Xem thêm</a></p>

                </div>
            </div>

            <div class="row-sm-6 col-md-4 bg-light pt-3" style=" margin-bottom: 50px;  ">
                <div class="img">
                    <img src="/img/uudai.jpg" alt="" width="100%" height="200px"> <br><br>

                </div>
                <div class="content2" style=" margin-bottom: 50px; ">
                    <p style="font-size:18px; font-weight: bold;color: #ea8025">TIN TỨC</p>
                    <h1 style="font-size:20px;font-family: 'Anton', sans-serif; ">THE HARLEY HOUSE GIAO HÀNG TẬN NƠI TẤT CẢ CÁC SẢN PHẨM CÀ PHÊ UỐNG LIỀN</h1>
                    <p style="font-family: 'Baloo Thambi 2', cursive;">Không để bạn chờ lâu trong mùa dịch này, từ nay THH chính thức mở lại dịch vụ giao hàng tận nơi cho khu vực Hồ Chí Minh... <a href="" class="list-unstyled" style="color: #ea8025;float: right">Xem thêm</a></p>

                </div>
            </div>

            <div class="row-sm-6 col-md-4 bg-light pt-3 " style=" margin-bottom: 50px; ">
                <div class="img">
                    <img src="/img/giaohang.png" alt="" width="100%" height="200px"> <br><br>

                </div>
                <div class="content2" style=" margin-bottom: 50px; ">
                    <p style="font-size:18px; font-weight: bold;color: #ea8025">TIN TỨC</p>
                    <h1 style="font-size:20px; font-family: 'Anton', sans-serif; ">THE HARLEY HOUSE GIAO HÀNG TẬN NƠI TẤT CẢ CÁC SẢN PHẨM CÀ PHÊ UỐNG LIỀN</h1>
                    <p style="font-family: 'Baloo Thambi 2', cursive;">Không để bạn chờ lâu trong mùa dịch này, từ nay THH chính thức mở lại dịch vụ giao hàng tận nơi cho khu vực Hồ Chí Minh... <a href="" class="list-unstyled" style="color: #ea8025;float: right">Xem thêm</a></p>

                </div>
            </div>


        </div>
    </div>
</div>




    <!-- 
<div class="box_mid">
        <div class="mid-title">
    
                <div class="titleL"><h1>Tin tức &amp; Sự kiện</h1></div>
                <div class="titleR"></div>
                <div class="clear"></div>
    
        </div>
      <div class="mid-content">
         
    
    <div id="resultNews">
        <div class="row" id="ListItem">
            
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 ">
        <div class="news" itemscope="" itemtype="http://schema.org/Article">
            <div class="img p-hl" style="vertical-align: middle;" itemprop="image" itemscope="" itemtype="https://schema.org/ImageObject">
                 <a href="" title="ĐIỀU KHOẢN VÀ ĐIỀU KIỆN ÁP DỤNG CỦA ỨNG DỤNG HIGHLANDS COFFEE">
                     <img src="https://www.highlandscoffee.com.vn/vnt_upload/news/11_2021/thumbs/470_crop_HC-app.png" alt="ĐIỀU KHOẢN VÀ ĐIỀU KIỆN ÁP DỤNG CỦA ỨNG DỤNG HIGHLANDS COFFEE">
                    </a>
                </div>
            <div class="tend">
                <h3 itemprop="headline">
                    <a href="" title="ĐIỀU KHOẢN VÀ ĐIỀU KIỆN ÁP DỤNG CỦA ỨNG DỤNG HIGHLANDS COFFEE">ĐIỀU KHOẢN VÀ ĐIỀU KIỆN ÁP DỤNG CỦA ỨNG DỤNG HIGHLANDS COFFEE</a>
                </h3>
            </div>
            <div class="date"><span>23/11/2021, 20:49</span></div>
        </div>
    </div>
    
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
        <div class="news" itemscope="" itemtype="http://schema.org/Article">
            <div class="img" itemprop="image" itemscope="" itemtype="https://schema.org/ImageObject"> <a href="https://www.highlandscoffee.com.vn/vn/highlands-cap-nhat-gia-ban-theo-chinh-sach-thue-gtgt-mo.html" title="HIGHLANDS CẬP NHẬT GIÁ BÁN THEO CHÍNH SÁCH THUẾ GTGT MỚI"><img src="https://www.highlandscoffee.com.vn/vnt_upload/news/11_2021/thumbs/470_crop_HCO_7619_MOBILE_APP_NEW_VAT_TAX_BANNER_WEBSITE_ENG_1.jpg" alt="HIGHLANDS CẬP NHẬT GIÁ BÁN THEO CHÍNH SÁCH THUẾ GTGT MỚI"></a></div>
            <div class="tend"><h3 itemprop="headline"><a href="" title="HIGHLANDS CẬP NHẬT GIÁ BÁN THEO CHÍNH SÁCH THUẾ GTGT MỚI">HIGHLANDS CẬP NHẬT GIÁ BÁN THEO CHÍNH SÁCH THUẾ GTGT MỚI</a></h3></div>
            <div class="date"><span>01/11/2021, 11:44</span></div>
        </div>
    </div>
    
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
        <div class="news" itemscope="" itemtype="http://schema.org/Article">
            <div class="img" itemprop="image" itemscope="" itemtype="https://schema.org/ImageObject"> 
                <a href="" title="HIGHLANDS COFFEE CHÍNH THỨC RA MẮT ỨNG DỤNG DI ĐỘNG 'MỚI'"><img src="https://www.highlandscoffee.com.vn/vnt_upload/news/10_2021/thumbs/470_crop_HCO-7662-MOBILE-APP-QR-YOUTUBE-BANNER_-_Copy.jpg" alt="HIGHLANDS COFFEE CHÍNH THỨC RA MẮT ỨNG DỤNG DI ĐỘNG 'MỚI'"></a></div>
            <div class="tend"><h3 itemprop="headline"><a href="" title="HIGHLANDS COFFEE CHÍNH THỨC RA MẮT ỨNG DỤNG DI ĐỘNG 'MỚI'">HIGHLANDS COFFEE CHÍNH THỨC RA MẮT ỨNG DỤNG DI ĐỘNG 'MỚI'</a></h3></div>
            <div class="date"><span>18/10/2021, 22:14</span></div>
        </div>
    </div>
    
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
        <div class="news" itemscope="" itemtype="http://schema.org/Article">
            <div class="img" itemprop="image" itemscope="" itemtype="https://schema.org/ImageObject"> 
                <a href="" title="BÁNH TRUNG THU HIGHLANDS COFFEE - Sẻ chia tinh túy Đất Việt"><img src="https://www.highlandscoffee.com.vn/vnt_upload/news/08_2021/thumbs/470_crop_HC_7654_MOONCAKE_2021_KV_1920X1080.jpg" alt="BÁNH TRUNG THU HIGHLANDS COFFEE - Sẻ chia tinh túy Đất Việt"></a></div>
            <div class="tend"><h3 itemprop="headline"><a href="" title="BÁNH TRUNG THU HIGHLANDS COFFEE - Sẻ chia tinh túy Đất Việt">BÁNH TRUNG THU HIGHLANDS COFFEE - Sẻ chia tinh túy Đất Việt</a></h3></div>
            <div class="date"><span>04/08/2021, 17:02</span></div>
        </div>
    </div>
    
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
        <div class="news" itemscope="" itemtype="http://schema.org/Article">
            <div class="img" itemprop="image" itemscope="" itemtype="https://schema.org/ImageObject"> 
                <a href="" title="LỊCH HOẠT ĐỘNG TẾT NGUYÊN ĐÁN 2021 CỦA HIGHLANDS COFFEE TRÊN TOÀN QUỐC"><img src="https://www.highlandscoffee.com.vn/vnt_upload/news/02_2021/thumbs/470_crop_HCO_7644_FESTIVE_2021_SCHEDULE_THUMBNAIL-03_1.png" alt="LỊCH HOẠT ĐỘNG TẾT NGUYÊN ĐÁN 2021 CỦA HIGHLANDS COFFEE TRÊN TOÀN QUỐC"></a></div>
            <div class="tend"><h3 itemprop="headline"><a href="" title="LỊCH HOẠT ĐỘNG TẾT NGUYÊN ĐÁN 2021 CỦA HIGHLANDS COFFEE TRÊN TOÀN QUỐC">LỊCH HOẠT ĐỘNG TẾT NGUYÊN ĐÁN 2021 CỦA HIGHLANDS COFFEE TRÊN TOÀN QUỐC</a></h3></div>
            <div class="date"><span>05/02/2021, 14:33</span></div>
        </div>
    </div>
    
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
        <div class="news" itemscope="" itemtype="http://schema.org/Article">
            <div class="img" itemprop="image" itemscope="" itemtype="https://schema.org/ImageObject">
                 <a href="" title="HIGHLANDS COFFEE RA MẮT PHINDI HỒNG TRÀ MỚI"><img src="https://www.highlandscoffee.com.vn/vnt_upload/news/12_2020/thumbs/470_crop_pdht-dec-news.jpg" alt="HIGHLANDS COFFEE RA MẮT PHINDI HỒNG TRÀ MỚI"></a></div>
            <div class="tend"><h3 itemprop="headline"><a href="" title="HIGHLANDS COFFEE RA MẮT PHINDI HỒNG TRÀ MỚI">HIGHLANDS COFFEE RA MẮT PHINDI HỒNG TRÀ MỚI</a></h3></div>
            <div class="date"><span>08/12/2020, 14:51</span></div>
        </div>
    </div>
    
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
        <div class="news" itemscope="" itemtype="http://schema.org/Article">
            <div class="img" itemprop="image" itemscope="" itemtype="https://schema.org/ImageObject"> 
                <a href="" title="Highlands Coffee PhinDi - CÀ PHÊ PHIN THẾ HỆ MỚI!"><img src="https://www.highlandscoffee.com.vn/vnt_upload/news/09_2020/thumbs/470_crop_ssss-01.png" alt="Highlands Coffee PhinDi - CÀ PHÊ PHIN THẾ HỆ MỚI!"></a></div>
            <div class="tend"><h3 itemprop="headline"><a href="" title="Highlands Coffee PhinDi - CÀ PHÊ PHIN THẾ HỆ MỚI!">Highlands Coffee PhinDi - CÀ PHÊ PHIN THẾ HỆ MỚI!</a></h3></div>
            <div class="date"><span>07/09/2020, 11:21</span></div>
        </div>
    </div>
    
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
        <div class="news" itemscope="" itemtype="http://schema.org/Article">
            <div class="img" itemprop="image" itemscope="" itemtype="https://schema.org/ImageObject"> 
                <a href="" title="HIGHLANDS COFFEE - TOP 50 THƯƠNG HIỆU NHÀ TUYỂN DỤNG HẤP DẪN NHẤT VỚI SINH VIÊN VIỆT NAM 2020"><img src="https://www.highlandscoffee.com.vn/vnt_upload/news/05_2020/thumbs/470_crop_Untitled-1.png" alt="HIGHLANDS COFFEE - TOP 50 THƯƠNG HIỆU NHÀ TUYỂN DỤNG HẤP DẪN NHẤT VỚI SINH VIÊN VIỆT NAM 2020"></a></div>
            <div class="tend"><h3 itemprop="headline"><a href="" title="HIGHLANDS COFFEE - TOP 50 THƯƠNG HIỆU NHÀ TUYỂN DỤNG HẤP DẪN NHẤT VỚI SINH VIÊN VIỆT NAM 2020">HIGHLANDS COFFEE - TOP 50 THƯƠNG HIỆU NHÀ TUYỂN DỤNG HẤP DẪN NHẤT VỚI SINH VIÊN VIỆT NAM 2020</a></h3></div>
            <div class="date"><span>08/05/2020, 14:25</span></div>
        </div>
    </div>
    
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
        <div class="news" itemscope="" itemtype="http://schema.org/Article">
            <div class="img" itemprop="image" itemscope="" itemtype="https://schema.org/ImageObject"> 
                <a href="" title="CẬP NHẬT HOẠT ĐỘNG TẠM THỜI CỦA TẤT CẢ CỬA HÀNG HIGHLANDS COFFEE ĐẾN HẾT 15/04/2020"><img src="https://www.highlandscoffee.com.vn/vnt_upload/news/04_2020/thumbs/470_crop_2.png" alt="CẬP NHẬT HOẠT ĐỘNG TẠM THỜI CỦA TẤT CẢ CỬA HÀNG HIGHLANDS COFFEE ĐẾN HẾT 15/04/2020"></a></div>
            <div class="tend"><h3 itemprop="headline"><a href="" title="CẬP NHẬT HOẠT ĐỘNG TẠM THỜI CỦA TẤT CẢ CỬA HÀNG HIGHLANDS COFFEE ĐẾN HẾT 15/04/2020">CẬP NHẬT HOẠT ĐỘNG TẠM THỜI CỦA TẤT CẢ CỬA HÀNG HIGHLANDS COFFEE ĐẾN HẾT 15/04/2020</a></h3></div>
            <div class="date"><span>07/04/2020, 16:40</span></div>
        </div>
    </div>
    
        </div>
    </div>
    
    
      </div>          
    </div>
    -->
    
</div>
