<div class="container " style="margin-top: 155px;">
    <div id="article" style="display: block;">
        <div class="article_image height_500" style="background-image:url(//file.hstatic.net/1000075078/article/cafe_97a01e1c3529447b93fbfac9ab446be4_master.jpg); background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: cover;
        
        height: 500px;
        overflow: hidden;"></div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="article_wrap">
                            <div class="article_content_wrap">
                                <h1 style="padding: 30px;" class="line_after_heading section_heading">PHONG CÁCH "ĐI CÀ PHÊ" CỦA NGƯỜI TRẺ</h1>
                                <div class></div>
                                <div class="article_content" style="font-family: 'Anton' , sans-serif;">
                                    <p><span style="font-size:15px;">Bên cạnh những ly cà phê sữa, cà phê đen pha phin truyền thống đậm đà, đông đảo giới trẻ Việt ngày càng thích thú và đón nhận những “làn sóng” cà phê mới.&nbsp;</span></p>
                                    <p><span style="color:#e67e22;"><span style="font-size:16px;"><strong>Mê mẩn cà phê ngoại - Chất lượng cao từ nội dung đến hình thức</strong></span></span></p>
                                    <p><span style="font-size:15px;">Theo dòng chảy của sự hiện đại, nhiều loại cà phê ngoại đã du nhập vào Việt Nam, được đón nhận và yêu thích bởi nhiều người. Đặc biệt là đối với những người trẻ thích sự mới lạ, độc đáo, yêu cầu không chỉ chất lượng cà phê mà còn phải có hình thức bắt mắt. Trong đó, những hương vị cà phê hấp dẫn và tuyệt hảo bắt nguồn từ Ý đã khiến giới trẻ say mê và luôn nằm đầu bảng danh sách lựa chọn như: Espresso, Cappuccino, Latte, Macchiato, Mocha,...&nbsp;</span></p>
                                    <p style="text-align: center"><img src="//file.hstatic.net/1000075078/file/capu_99c0957c4b91412d915b56891129211f_grande.jpg"></p>
                                    <p><span style="color:#e67e22;"><span style="font-size:16px;"><strong>Dành sự nồng nhiệt đối với cà phê trái cây&nbsp;</strong></span></span></p>
                                    <p><span style="font-size:15px;">Không chỉ bị chinh phục bởi các loại cà phê ngoại nói trên, giới trẻ Việt còn phát cuồng với các loại cà phê trái cây được ra đời bởi sự sáng tạo tuyệt vời của những barista. Sự kết hợp giữa cà phê và các loại trái cây đã làm nên sự phong phú, đem đến nhiều sự lựa chọn hơn cho các thực khách. Đây được xem là sự sáng tạo đặc biệt và cũng rất nghệ thuật khi cà phê trái cây sẽ mang đến những cảm nhận mới rất khác biệt cho vị giác, khứu giác và cả chinh phục thị giác bởi những gam màu mới lạ và ấn tượng của nó.</span></p><p style="text-align: center"><img src="//file.hstatic.net/1000075078/file/cold_brew_phuc_bon_tu_d59707e337cd4a67b1110f973b672c48_grande.jpg"></p>
                                    <p><span style="font-size:15px;">Người yêu thích cà phê trái cây có thể lựa chọn thưởng thức hương vị cà phê kết hợp với sầu riêng, cà phê kết hợp với dừa hoặc kết hợp với xoài cũng mang lại một hương vị đặc sắc. Tuy nhiên, Cold Brew Phúc bồn tử là món cà phê trái cây mà nhất định bạn không nên bỏ qua. Cold Brew - cà phê lạnh được bắt nguồn từ xứ sở Hoa anh đào, kết hợp với phúc bồn tử bạn sẽ nhâm nhi và cảm nhận được tam vị: chua chua, đăng đắng pha lẫn vị ngọt dịu. Tại The Harley Coffee, Cold Brew Phúc bồn tử được giới trẻ yêu thích khi mang đến một hương vị hoàn toàn mới, gói cả vị thơm lừng của cà phê từ 100% hạt Arabica Cầu Đất và thanh mát bởi hương phúc bồn tử tự nhiên và tươi mát.&nbsp;</span></p>
                                    <p><span style="color:#e67e22;"><span style="font-size:16px;">Đi cà phê không chỉ để uống cà phê&nbsp;</span></span></p>
                                    <p><span style="font-size:15px;">Với nhiều sự lựa chọn và sự du nhập của các loại thức uống đa dạng trên thế giới, cũng như sự sáng tạo và làm mới không ngừng, nên dù gọi là “đi cà phê” nhưng lại có nhiều sự lựa chọn hơn là cà phê. Điều này tùy thuộc vào sở thích của mỗi người. Ngoài ra, đối với người trẻ hiện nay, đi cà phê không chỉ để thưởng thức hương vị đồ uống yêu thích, mà đó là nơi có thể học tập, làm việc nhóm, đọc sách, xả stress hay đơn giản là nơi gặp gỡ và trò chuyện cùng bạn bè. Đồng thời, cũng là nơi khởi đầu những câu chuyện, những mối quan hệ mới.</span></p><p style="text-align: center"><img src="/public/img/gioitre.jpg"></p>
                                    <p><span style="font-size:15px;">Thấu hiểu khách hàng, biết rõ nhu cầu và phong cách của giới trẻ nên The Harley Coffee là điểm đến lý tưởng của nhiều đối tượng và đặc biệt là những ai luôn hướng đến phong cách trẻ trung, hiện đại. Không chỉ có menu nước đa dạng và phong phú, chất lượng cà phê hay những loại thức uống khác đều tuyệt hảo, đầy đủ các loại cà phê của nước ngoài được yêu chuộng. Mà hơn hết, The Harley Coffee gây ấn tượng và chinh phục khách hàng bằng chính thái độ phục vụ, phong cách thiết kế và cả sự tiện lợi, thân thiện.</span></p><p style="text-align: center"><img src="//file.hstatic.net/1000075078/file/nhan_vien_52f816aa06a3438d80112048f8088f2c_grande.jpg"></p>
                                    <p><span style="font-size:15px;">The Harley Coffee là trạm dừng chân của những người trẻ năng động và hiện đại, của những con người phóng khoáng và thích trải nghiệm đặc biệt. Hơn hết, The Harley Coffee luôn quan tâm và chú ý đến cả những chi tiết hết sức nhỏ nhưng cực kỳ cần thiết cho khách hàng từ vị trí ổ cắm sạc, ánh sáng chan hoà, gió trời tự nhiên mát mẻ,... tất cả đều được The Harley Coffee tính toán và đầu tư một cách chỉn chu nhất.&nbsp;</span></p>
                                    <p><strong><em><span style="font-size:15px;">The Harley Coffee luôn sẵn sàng đón bạn để thưởng thức những hương vị thức uống thơm ngon, tận hưởng không gian thoải mái, hiện đại và gần gũi. Đặc biệt là sẽ có những phút giây thú vị bên bạn bè, người thân.&nbsp;</span></em></strong></p></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>

<!-- sử dụng-->
<!--
    <div class="mid-title">
        <div class="titleL"><h1>Tin tức &amp; Sự kiện</h1></div>
        <div class="titleR"></div>
        <div class="clear"></div>
    </div>
    
<div class="content mb-2" style="">
    <div class="container my-3  pt-5 ">
        <div class="row ">
            <div class="row-sm-6 col-md-4 bg-light pt-3" style=" margin-bottom: 10px; ">
                <div class="img new">
                    <img src="/img/freeship.jpg" alt="" width="100%" height="200px"> <br><br>
                </div>
                <div class="content2" style=" margin-bottom: 50px; ">
                    <p style="font-size:18px; font-weight: bold;color: #ea8025">TIN TỨC</p>
                    <h1 style="font-size:20px;font-family: 'Anton', sans-serif; ">THÔNG BÁO: THE HARLEY HOUSE VỀ LẠI FREESHIP</h1>
                    <p style="font-family: 'Baloo Thambi 2', cursive;">Không để bạn chờ lâu trong mùa dịch này, từ nay THH chính thức mở lại dịch vụ giao hàng tận nơi cho khu vực Hồ Chí Minh... <a href="" class="list-unstyled" style="color: #ea8025;float: right">Xem thêm</a></p>

                </div>
            </div>

            <div class="row-sm-6 col-md-4 bg-light pt-3" style=" margin-bottom: 10px;  ">
                <div class="img">
                    <img src="/img/uudai.jpg" alt="" width="100%" height="200px"> <br><br>

                </div>
                <div class="content2" style=" margin-bottom: 50px; ">
                    <p style="font-size:18px; font-weight: bold;color: #ea8025">TIN TỨC</p>
                    <h1 style="font-size:20px;font-family: 'Anton', sans-serif; ">THE HARLEY HOUSE GIAO HÀNG TẬN NƠI TẤT CẢ CÁC SẢN PHẨM CÀ PHÊ UỐNG LIỀN</h1>
                    <p style="font-family: 'Baloo Thambi 2', cursive;">Không để bạn chờ lâu trong mùa dịch này, từ nay THH chính thức mở lại dịch vụ giao hàng tận nơi cho khu vực Hồ Chí Minh... <a href="" class="list-unstyled" style="color: #ea8025;float: right">Xem thêm</a></p>

                </div>
            </div>

            <div class="row-sm-6 col-md-4 bg-light pt-3 " style=" margin-bottom: 10px; ">
                <div class="img">
                    <img src="/img/giaohang.png" alt="" width="100%" height="200px"> <br><br>

                </div>
                <div class="content2" style=" margin-bottom: 50px; ">
                    <p style="font-size:18px; font-weight: bold;color: #ea8025">TIN TỨC</p>
                    <h1 style="font-size:20px; font-family: 'Anton', sans-serif; ">THE HARLEY HOUSE GIAO HÀNG TẬN NƠI TẤT CẢ CÁC SẢN PHẨM CÀ PHÊ UỐNG LIỀN</h1>
                    <p style="font-family: 'Baloo Thambi 2', cursive;">Không để bạn chờ lâu trong mùa dịch này, từ nay THH chính thức mở lại dịch vụ giao hàng tận nơi cho khu vực Hồ Chí Minh... <a href="" class="list-unstyled" style="color: #ea8025;float: right">Xem thêm</a></p>

                </div>
            </div>

            <div class="row-sm-6 col-md-4 bg-light pt-3" style=" margin-bottom: 10px; ">
                <div class="img">
                    <img src="/img/qua2.jpg" alt="" width="100%" height="200px"> <br><br>

                </div>
                <div class="content2" style=" margin-bottom: 50px; ">
                    <p style="font-size:18px; font-weight: bold;color: #ea8025">TIN TỨC</p>
                    <h1 style="font-size:20px;font-family: 'Anton', sans-serif; ">GỢI Ý QUÀ TẶNG ĐẦY Ý NGHĨA CHO DỊP CUỐI NĂM</h1>
                    <p style="font-family: 'Baloo Thambi 2', cursive;">Giáng sinh và năm mới 2022 đang gõ cửa, bạn muốn trao gửi tình cảm..<a href="" class="list-unstyled" style="color: #ea8025;float: right">Xem thêm</a></p>

                </div>
            </div>

            <div class="row-sm-6 col-md-4 bg-light pt-3" style=" margin-bottom: 10px;  ">
                <div class="img">
                    <img src="/img/trongcay.jpg" alt="" width="100%" height="200px"> <br><br>

                </div>
                <div class="content2" style=" margin-bottom: 50px; ">
                    <p style="font-size:18px; font-weight: bold;color: #ea8025">TIN TỨC</p>
                    <h1 style="font-size:20px;font-family: 'Anton', sans-serif; ">SỐNG XANH CÙNG CÀ PHÊ</h1>
                    <p style="font-family: 'Baloo Thambi 2', cursive;">Khí hậu thay đổi rõ rệt, ngày càng nhiều những thiên tai như bão lụt,... <a href="" class="list-unstyled" style="color: #ea8025;float: right">Xem thêm</a></p>

                </div>
            </div>

            <div class="row-sm-6 col-md-4 bg-light pt-3 " style=" margin-bottom: 10px; ">
                <div class="img">
                    <img src="/img/gioitre.jpg" alt="" width="100%" height="200px"> <br><br>

                </div>
                <div class="content2" style=" margin-bottom: 50px; ">
                    <p style="font-size:18px; font-weight: bold;color: #ea8025">TIN TỨC</p>
                    <h1 style="font-size:20px; font-family: 'Anton', sans-serif; ">PHONG CÁCH "ĐI CÀ PHÊ" CỦA NGƯỜI TRẺ</h1>
                    <p style="font-family: 'Baloo Thambi 2', cursive;">Người trẻ thường thích trải nghiệm, thích sự mới mẻ và không ngừng sáng tạo.... <a href="" class="list-unstyled" style="color: #ea8025;float: right">Xem thêm</a></p>

                </div>
            </div>

            <div class="row-sm-6 col-md-4 bg-light pt-3" style=" margin-bottom: 10px; ">
                <div class="img">
                    <img src="/img/caycafe.jpg" alt="" width="100%" height="200px"> <br><br>

                </div>
                <div class="content2" style=" margin-bottom: 50px; ">
                    <p style="font-size:18px; font-weight: bold;color: #ea8025">TIN TỨC</p>
                    <h1 style="font-size:20px;font-family: 'Anton', sans-serif; ">KHÁM PHÁ LỢI ÍCH VỀ DINH DƯỠNG CÓ TRONG CÀ PHÊ</h1>
                    <p style="font-family: 'Baloo Thambi 2', cursive;">Cà phê là thức uống có lợi cho sức khỏe. Nhiều nghiên cứu chỉ ra... <a href="" class="list-unstyled" style="color: #ea8025;float: right">Xem thêm</a></p>

                </div>
            </div>

            <div class="row-sm-6 col-md-4 bg-light pt-3" style=" margin-bottom: 10px;  ">
                <div class="img">
                    <img src="/img/staff.jpg" alt="" width="100%" height="200px"> <br><br>

                </div>
                <div class="content2" style=" margin-bottom: 50px; ">
                    <p style="font-size:18px; font-weight: bold;color: #ea8025">TIN TỨC</p>
                    <h1 style="font-size:20px;font-family: 'Anton', sans-serif; ">CAFE SỮA ĐÁ, CAFE CỰC "NGHIỆN! CHỈ 25,000 ĐỒNG"</h1>
                    <p style="font-family: 'Baloo Thambi 2', cursive;">Bắt đầu một ngày mới tràn đầy năng lượng và tập trung bằng 1 ly cafe sữa... <a href="" class="list-unstyled" style="color: #ea8025;float: right">Xem thêm</a></p>

                </div>
            </div>

        </div>
    </div>
</div>

 -->



    <!-- 
<div class="box_mid">
        <div class="mid-title">
    
                <div class="titleL"><h1>Tin tức &amp; Sự kiện</h1></div>
                <div class="titleR"></div>
                <div class="clear"></div>
    
        </div>
      <div class="mid-content">
         
    
    <div id="resultNews">
        <div class="row" id="ListItem">
            
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 ">
        <div class="news" itemscope="" itemtype="http://schema.org/Article">
            <div class="img p-hl" style="vertical-align: middle;" itemprop="image" itemscope="" itemtype="https://schema.org/ImageObject">
                 <a href="" title="ĐIỀU KHOẢN VÀ ĐIỀU KIỆN ÁP DỤNG CỦA ỨNG DỤNG HIGHLANDS COFFEE">
                     <img src="https://www.highlandscoffee.com.vn/vnt_upload/news/11_2021/thumbs/470_crop_HC-app.png" alt="ĐIỀU KHOẢN VÀ ĐIỀU KIỆN ÁP DỤNG CỦA ỨNG DỤNG HIGHLANDS COFFEE">
                    </a>
                </div>
            <div class="tend">
                <h3 itemprop="headline">
                    <a href="" title="ĐIỀU KHOẢN VÀ ĐIỀU KIỆN ÁP DỤNG CỦA ỨNG DỤNG HIGHLANDS COFFEE">ĐIỀU KHOẢN VÀ ĐIỀU KIỆN ÁP DỤNG CỦA ỨNG DỤNG HIGHLANDS COFFEE</a>
                </h3>
            </div>
            <div class="date"><span>23/11/2021, 20:49</span></div>
        </div>
    </div>
    
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
        <div class="news" itemscope="" itemtype="http://schema.org/Article">
            <div class="img" itemprop="image" itemscope="" itemtype="https://schema.org/ImageObject"> <a href="https://www.highlandscoffee.com.vn/vn/highlands-cap-nhat-gia-ban-theo-chinh-sach-thue-gtgt-mo.html" title="HIGHLANDS CẬP NHẬT GIÁ BÁN THEO CHÍNH SÁCH THUẾ GTGT MỚI"><img src="https://www.highlandscoffee.com.vn/vnt_upload/news/11_2021/thumbs/470_crop_HCO_7619_MOBILE_APP_NEW_VAT_TAX_BANNER_WEBSITE_ENG_1.jpg" alt="HIGHLANDS CẬP NHẬT GIÁ BÁN THEO CHÍNH SÁCH THUẾ GTGT MỚI"></a></div>
            <div class="tend"><h3 itemprop="headline"><a href="" title="HIGHLANDS CẬP NHẬT GIÁ BÁN THEO CHÍNH SÁCH THUẾ GTGT MỚI">HIGHLANDS CẬP NHẬT GIÁ BÁN THEO CHÍNH SÁCH THUẾ GTGT MỚI</a></h3></div>
            <div class="date"><span>01/11/2021, 11:44</span></div>
        </div>
    </div>
    
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
        <div class="news" itemscope="" itemtype="http://schema.org/Article">
            <div class="img" itemprop="image" itemscope="" itemtype="https://schema.org/ImageObject"> 
                <a href="" title="HIGHLANDS COFFEE CHÍNH THỨC RA MẮT ỨNG DỤNG DI ĐỘNG 'MỚI'"><img src="https://www.highlandscoffee.com.vn/vnt_upload/news/10_2021/thumbs/470_crop_HCO-7662-MOBILE-APP-QR-YOUTUBE-BANNER_-_Copy.jpg" alt="HIGHLANDS COFFEE CHÍNH THỨC RA MẮT ỨNG DỤNG DI ĐỘNG 'MỚI'"></a></div>
            <div class="tend"><h3 itemprop="headline"><a href="" title="HIGHLANDS COFFEE CHÍNH THỨC RA MẮT ỨNG DỤNG DI ĐỘNG 'MỚI'">HIGHLANDS COFFEE CHÍNH THỨC RA MẮT ỨNG DỤNG DI ĐỘNG 'MỚI'</a></h3></div>
            <div class="date"><span>18/10/2021, 22:14</span></div>
        </div>
    </div>
    
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
        <div class="news" itemscope="" itemtype="http://schema.org/Article">
            <div class="img" itemprop="image" itemscope="" itemtype="https://schema.org/ImageObject"> 
                <a href="" title="BÁNH TRUNG THU HIGHLANDS COFFEE - Sẻ chia tinh túy Đất Việt"><img src="https://www.highlandscoffee.com.vn/vnt_upload/news/08_2021/thumbs/470_crop_HC_7654_MOONCAKE_2021_KV_1920X1080.jpg" alt="BÁNH TRUNG THU HIGHLANDS COFFEE - Sẻ chia tinh túy Đất Việt"></a></div>
            <div class="tend"><h3 itemprop="headline"><a href="" title="BÁNH TRUNG THU HIGHLANDS COFFEE - Sẻ chia tinh túy Đất Việt">BÁNH TRUNG THU HIGHLANDS COFFEE - Sẻ chia tinh túy Đất Việt</a></h3></div>
            <div class="date"><span>04/08/2021, 17:02</span></div>
        </div>
    </div>
    
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
        <div class="news" itemscope="" itemtype="http://schema.org/Article">
            <div class="img" itemprop="image" itemscope="" itemtype="https://schema.org/ImageObject"> 
                <a href="" title="LỊCH HOẠT ĐỘNG TẾT NGUYÊN ĐÁN 2021 CỦA HIGHLANDS COFFEE TRÊN TOÀN QUỐC"><img src="https://www.highlandscoffee.com.vn/vnt_upload/news/02_2021/thumbs/470_crop_HCO_7644_FESTIVE_2021_SCHEDULE_THUMBNAIL-03_1.png" alt="LỊCH HOẠT ĐỘNG TẾT NGUYÊN ĐÁN 2021 CỦA HIGHLANDS COFFEE TRÊN TOÀN QUỐC"></a></div>
            <div class="tend"><h3 itemprop="headline"><a href="" title="LỊCH HOẠT ĐỘNG TẾT NGUYÊN ĐÁN 2021 CỦA HIGHLANDS COFFEE TRÊN TOÀN QUỐC">LỊCH HOẠT ĐỘNG TẾT NGUYÊN ĐÁN 2021 CỦA HIGHLANDS COFFEE TRÊN TOÀN QUỐC</a></h3></div>
            <div class="date"><span>05/02/2021, 14:33</span></div>
        </div>
    </div>
    
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
        <div class="news" itemscope="" itemtype="http://schema.org/Article">
            <div class="img" itemprop="image" itemscope="" itemtype="https://schema.org/ImageObject">
                 <a href="" title="HIGHLANDS COFFEE RA MẮT PHINDI HỒNG TRÀ MỚI"><img src="https://www.highlandscoffee.com.vn/vnt_upload/news/12_2020/thumbs/470_crop_pdht-dec-news.jpg" alt="HIGHLANDS COFFEE RA MẮT PHINDI HỒNG TRÀ MỚI"></a></div>
            <div class="tend"><h3 itemprop="headline"><a href="" title="HIGHLANDS COFFEE RA MẮT PHINDI HỒNG TRÀ MỚI">HIGHLANDS COFFEE RA MẮT PHINDI HỒNG TRÀ MỚI</a></h3></div>
            <div class="date"><span>08/12/2020, 14:51</span></div>
        </div>
    </div>
    
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
        <div class="news" itemscope="" itemtype="http://schema.org/Article">
            <div class="img" itemprop="image" itemscope="" itemtype="https://schema.org/ImageObject"> 
                <a href="" title="Highlands Coffee PhinDi - CÀ PHÊ PHIN THẾ HỆ MỚI!"><img src="https://www.highlandscoffee.com.vn/vnt_upload/news/09_2020/thumbs/470_crop_ssss-01.png" alt="Highlands Coffee PhinDi - CÀ PHÊ PHIN THẾ HỆ MỚI!"></a></div>
            <div class="tend"><h3 itemprop="headline"><a href="" title="Highlands Coffee PhinDi - CÀ PHÊ PHIN THẾ HỆ MỚI!">Highlands Coffee PhinDi - CÀ PHÊ PHIN THẾ HỆ MỚI!</a></h3></div>
            <div class="date"><span>07/09/2020, 11:21</span></div>
        </div>
    </div>
    
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
        <div class="news" itemscope="" itemtype="http://schema.org/Article">
            <div class="img" itemprop="image" itemscope="" itemtype="https://schema.org/ImageObject"> 
                <a href="" title="HIGHLANDS COFFEE - TOP 50 THƯƠNG HIỆU NHÀ TUYỂN DỤNG HẤP DẪN NHẤT VỚI SINH VIÊN VIỆT NAM 2020"><img src="https://www.highlandscoffee.com.vn/vnt_upload/news/05_2020/thumbs/470_crop_Untitled-1.png" alt="HIGHLANDS COFFEE - TOP 50 THƯƠNG HIỆU NHÀ TUYỂN DỤNG HẤP DẪN NHẤT VỚI SINH VIÊN VIỆT NAM 2020"></a></div>
            <div class="tend"><h3 itemprop="headline"><a href="" title="HIGHLANDS COFFEE - TOP 50 THƯƠNG HIỆU NHÀ TUYỂN DỤNG HẤP DẪN NHẤT VỚI SINH VIÊN VIỆT NAM 2020">HIGHLANDS COFFEE - TOP 50 THƯƠNG HIỆU NHÀ TUYỂN DỤNG HẤP DẪN NHẤT VỚI SINH VIÊN VIỆT NAM 2020</a></h3></div>
            <div class="date"><span>08/05/2020, 14:25</span></div>
        </div>
    </div>
    
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
        <div class="news" itemscope="" itemtype="http://schema.org/Article">
            <div class="img" itemprop="image" itemscope="" itemtype="https://schema.org/ImageObject"> 
                <a href="" title="CẬP NHẬT HOẠT ĐỘNG TẠM THỜI CỦA TẤT CẢ CỬA HÀNG HIGHLANDS COFFEE ĐẾN HẾT 15/04/2020"><img src="https://www.highlandscoffee.com.vn/vnt_upload/news/04_2020/thumbs/470_crop_2.png" alt="CẬP NHẬT HOẠT ĐỘNG TẠM THỜI CỦA TẤT CẢ CỬA HÀNG HIGHLANDS COFFEE ĐẾN HẾT 15/04/2020"></a></div>
            <div class="tend"><h3 itemprop="headline"><a href="" title="CẬP NHẬT HOẠT ĐỘNG TẠM THỜI CỦA TẤT CẢ CỬA HÀNG HIGHLANDS COFFEE ĐẾN HẾT 15/04/2020">CẬP NHẬT HOẠT ĐỘNG TẠM THỜI CỦA TẤT CẢ CỬA HÀNG HIGHLANDS COFFEE ĐẾN HẾT 15/04/2020</a></h3></div>
            <div class="date"><span>07/04/2020, 16:40</span></div>
        </div>
    </div>
    
        </div>
    </div>
    
    
      </div>          
    </div>
    -->
    
</div>
