<div class="container " style="margin-top: 155px;">
  <section class="tcf-banner d-banner-desktop" data-v-56b687e3="" style="background: url(&quot;https://partner.thecoffeehouse.com/hr/files/banners/1624978619019.jpeg&quot;) center top no-repeat;">
    <div class="row justify-content-center" data-v-56b687e3="">
      <div class="col-12 col-lg-10" style="margin-top: 90px ;" data-v-56b687e3="">
        <h2 class="tcf-slogan" data-v-56b687e3="">
          <span class="text-dark-1" data-v-56b687e3="">Hãy trở thành</span>
          <br class="d-none d-lg-block" data-v-56b687e3=""> phiên bản tốt nhất của chính bạn </h2>
      </div>
    </div>
  </section>

  <section class="tch-questions-apply-section" data-v-56b687e3="">
    <div class="container" data-v-56b687e3="">
      <h5 class="tch-questions-apply-title mb-3" data-v-56b687e3="">Bạn muốn ứng tuyển vị trí nào?</h5><div class="row justify-content-center" data-v-56b687e3="">
        <div class="col-9 col-sm-12 col-lg-3 mb-2" data-v-56b687e3="">
          <a href="https://docs.google.com/forms/d/e/1FAIpQLSfeZs5Px7dZg5pp4kiKWl-rrqOmRl5KEMGkk7KXBbCwrhf2kA/viewform?usp=pp_url" data-v-56b687e3="">
            <button class="btn tcf-btn-orange-2 text-white font-weight-bold px-18" data-v-56b687e3="">Barista</button>
          </a>
        </div>
        <div class="col-9 col-sm-12 col-lg-3 mb-3 mb-lg-2" data-v-56b687e3="">
          <a href="https://docs.google.com/forms/d/e/1FAIpQLSfeZs5Px7dZg5pp4kiKWl-rrqOmRl5KEMGkk7KXBbCwrhf2kA/viewform?usp=pp_url" data-v-56b687e3="">
            <button class="btn tcf-btn-orange-2 text-white font-weight-bold" data-v-56b687e3="">Tiếp đón khách hàng<br data-v-56b687e3="">
               <span class="font-weight-normal fs-12" data-v-56b687e3="">(Bảo vệ nội bộ)</span>
              </button>
            </a>
          </div>
        </div>
      </div>
  </section>

  <section class="bg-home-card tcf-home-card" data-v-56b687e3="">
    <div class="container" data-v-56b687e3="">
      <div class="row" data-v-56b687e3="">
        <div class="col-lg-1" data-v-56b687e3="">
        </div>
        <div class="col-lg-10" data-v-56b687e3="">
          <h2 class="tcf-invite-titel" data-v-56b687e3=""> Bạn xứng đáng với<br class="d-none d-lg-block" data-v-56b687e3=""> những quyền lợi thiết thực </h2>
          <p class="tcf-invite-text" data-v-56b687e3=""> Chúng tôi tin rằng xây dựng được hạnh phúc, chú trọng con đường sự nghiệp cho nhân viên, sự hài lòng trong công việc và môi trường tích cực sẽ là nền tảng lâu dài cho sự phát triển bền vững của The Coffee House. Hãy đến với chúng tôi khi nhận thấy những giá trị này phù hợp với bạn! </p>
          <div class="row" data-v-56b687e3="">
            <div class="col-md-4 m-b-14" data-v-56b687e3="">
              <div class="tcf-incentives-card d-flex flex-column justify-content-center align-items-center" data-v-56b687e3="">
                <img src="/img/salary.7099aa11.png" alt="" data-v-56b687e3="">
                <p class="tcf-incentives-card-title" data-v-56b687e3="">Thu nhập cạnh tranh</p>
              </div>
            </div>
            <div class="col-md-4 m-b-14" data-v-56b687e3="">
              <div class="tcf-incentives-card d-flex flex-column justify-content-center align-items-center" data-v-56b687e3="">
                <img src="/img/careerPath.0da3629d.png" alt="" data-v-56b687e3="">
                <p class="tcf-incentives-card-title" data-v-56b687e3="">Cơ hội phát triển sự nghiệp bền vững</p>
              </div>
            </div>
            <div class="col-md-4 m-b-14" data-v-56b687e3="">
              <div class="tcf-incentives-card d-flex flex-column justify-content-center align-items-center" data-v-56b687e3="">
                <img src="/img/dynamic.32c307fd.png" alt="" data-v-56b687e3="">
                <p class="tcf-incentives-card-title" data-v-56b687e3="">Môi trường làm việc trẻ trung, gắn kết</p>
              </div>
            </div>
            <div class="col-md-6 m-b-14" data-v-56b687e3="">
              <div class="tcf-incentives-card d-flex flex-column justify-content-center align-items-center" data-v-56b687e3="">
                <img src="/img/idea.770aeab0.png" alt="" data-v-56b687e3="">
                <p class="tcf-incentives-card-title" data-v-56b687e3="">Thỏa sức thể hiện ý kiến cá nhân</p>
              </div>
            </div>
            <div class="col-md-6 m-b-14" data-v-56b687e3="">
              <div class="tcf-incentives-card d-flex flex-column justify-content-center align-items-center" data-v-56b687e3="">
                <img src="/img/promotion.3ee8df4c.png" alt="" data-v-56b687e3="">
                <p class="tcf-incentives-card-title" data-v-56b687e3="">Nhiều ưu đãi dành riêng cho nhân viên</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-1" data-v-56b687e3="">

        </div>
      </div>
    </div>
  </section>



  
</div>
