<div class="container " style="margin-top: 155px;">
  <h1>Tuyển dụng</h1>
  <div class="tcf-banner d-banner-desktop" data-v-56b687e3="" style="background: url(&quot;https://partner.thecoffeehouse.com/hr/files/banners/1624978619019.jpeg&quot;) center top no-repeat;">
    <div class="row justify-content-center" data-v-56b687e3="">
      <div class="col-12 col-lg-10" data-v-56b687e3="">
        <h2 class="tcf-slogan" data-v-56b687e3="">
          <span class="text-dark-1" data-v-56b687e3="">Hãy trở thành</span>
          <br class="d-none d-lg-block" data-v-56b687e3=""> phiên bản tốt nhất của chính bạn </h2>
      </div>
    </div>
  </div>



  
</div>
