<div class="container container mt-5 w-50 d-flex justify-content-center" style="padding:50px; height: 90vh;background: #ffbe76;">
    <%- include('../part/message') %>
        <br>
        <form action="">
            <center>
                <img src="./img/E810h.png" alt="" width="50" height="50">
                <h2 class="row mt-5">Tài khoản của bạn</h2>
            </center>
            <hr>
            <h1 class="row user-information">Thông tin tài khoản</h1>
            <div class="form-floating ">
                <input type="text" class="form-control mt-4" id="floatingInput" name="Name">
                <label>Tên của bạn: <%= name %></label>
                <div class="form-floating ">
                    <input type="text" class="form-control  mt-4" id="floatingInput1" name="phone">
                    <label for="floatingInput">Số điện thoại: <%= phone %></label>
                </div>
                <div class="form-floating ">
                    <input type="text" class="form-control mt-4 " id="floatingInput2 " name="address">
                    <label for="floatingInput">Địa chỉ: <%= address %></label>
                </div>

                <div class="form-floating mt-3 ">

                    <button style="float: right; width: 100px;" class="btn btn-primary" type="submit" value="Submit" id="floatingSubmit">Cập nhật</button>
                </div>
            </div>
        </form>
</div>


<h1>


</h1>
</div>