<div class="container mt-5 w-50">
    <center>
        <h1>REGISTER</h1>
    </center>
    <form action="/user" method="POST">
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="floatingInput" placeholder="Username" name="username">
            <label for="floatingInput">Username</label>
        </div>
        <div class="form-floating mb-3">
            <input type="email" class="form-control" id="floatingInput" placeholder="Email" name="email">
            <label for="floatingInput">Email</label>
        </div>
        <div class="form-floating mb-3">
            <input type="password" class="form-control" id="floatingInput" placeholder="Password" name="password">
            <label for="floatingInput">Password</label>
        </div>
        <div class="form-floating mt-3">
            <input type="submit" class="form-control btn btn-outline-success" id="floatingSubmit" value="Submit">
        </div>
    </form>
</div>