<div style=" padding: 60px;" class=" container mt-5 ">
  <div class="row">
    <div class="col-sm-3">
    <div class="category">
      <h5>Danh mục trang</h5>
     
      <div class="link">
        <a href="#">Chính sách bảo mật</a> <br>
        <a href="#">Điều khoản dịch vụ</a> <br>
        <a href="#">Hướng dẫn mua hàng</a> <br>
        <a href="#">Chính sách đổi trả</a> <br>
        <a href="#">Chính sách giao hàng</a> <br>
    </div>
    </div>
    <div class="cofee"> 
      <img src="https://theme.hstatic.net/200000379831/1000785230/14/page_banner.jpg?v=168" alt="">
    </div>
    </div>
    <div class="about col-sm-9">
      <h1>Về The Harley Coffee & Tea </h1>
        <div class="info">
          <img src="https://kodakifilmcorner.files.wordpress.com/2016/08/suicide_squad_robbie-0.jpg" alt="harley">
          
          <p>Chúng mình là nhóm những người bạn có kinh nghiệm và chuyên môn sâu trong lĩnh vực cà phê specialty, tại Việt Nam và cả toàn cầu. The Harley House được khởi xướng bởi cảm hứng trở thành nguồn cung cấp cà phê specialty chất lượng tại Sài Gòn. Được dẫn dắt bởi các kỹ thuật viên lâu năm trong ngành, chúng mình cung cấp các loại cà phê tốt nhất từ khắp nơi trên thế giới, gồm cả các đối tác tại Đà Lạt, và rang chúng theo tiêu chuẩn cao nhất. The Harley House áp dụng cùng tiêu chuẩn đó đến đào tạo, tư vấn và kiểm soát chất lượng, và giành được khách hàng bằng danh tiếng đẳng cấp thế giới.</p>
          
          <img src="../img/ha.jpg" style="height: auto;" alt="ha">
          <h3>Hạ Miên </h3>
          <p>Hạ Miên là Head bar, quản lí chất lượng tại The Harley House. Trước khi tham gia vào vận hành building, chị từng trải qua các công việc pha chế tại một số quán cà phê nhỏ ở Sài gòn, Head barista và Trainer tại The Workshop, Trainer tại Vietnam Coffee Republic, Monday Morning coffee, set up quán cà phê. Công việc chính của chị tại building là tham gia vận hành, tổ chức các sự kiện cà phê, quản lí chất lượng và training barista. Yêu thích công việc training và có mong muốn được làm việc cùng chuyên gia cà phê Will Frith để phát triển bản thân cũng như cùng xây dựng cộng đồng cà phê specialty ở Việt Nam phát triển đúng hướng và bền vững hơn.</p>

          <img src="https://2.bp.blogspot.com/-sCZdN79PUM0/WnwC9iPXL2I/AAAAAAAACAs/Bt3nuvYv4TE7LZid1weSCNb8OQKqMptigCLcBGAs/s1600/1.jpg" alt="">
          
          <h3>Thanh Đức</h3>

          <p>Thanh Đức là barista trước khi chuyển lên vị trí Roaster cho The Harley House và sau đó là Building. Trước đây, Thanh Đức theo học ngành cơ khí ,công nghệ thông tin nhưng không theo ngành này sau khi ra Thanh Đức., Trải qua các vị trí làm việc như phục vụ, barista tại Centro cà phê ( quán cà phê Ý nổi tiếng vào những năm 2005). Tham gia vận hành building với vị trí Roaster, quản lí chất lượng hạt xanh, hạt rang. Bên cạnh đó Thanh Đức cũng tham gia hỗ trợ và giảng dạy các lớp học về rang cùng với anh Thanh Will. Là một người có nhiều kiến thức cà phê và luôn sẵn sàng chia sẻ với mọi người, với mong muốn góp phần đưa cà phê Việt Nam phát triển và có chổ đứng trên nền cà phê thế giới.</p>

          <img src="https://thegioimay.org/wp-content/uploads/2020/11/nguyen-cong-duc-q-696x696.jpg" alt="">
          <h3>Thanh Will</h3>
          <p>Will từng thành công ở Hoa Kỳ trước khi áp dụng kỹ năng ấy vào vào cà phê specialty ở Việt Nam năm 2012. Ngoài việc làm việc độc lập, anh từng làm việc cho Modbar, The New Black, Olympia Coffee, và Batdorf & Bronson Coffee Roasters. Tại Việt Nam, anh đã đào tạo, tư vấn và giúp các doanh nghiệp bắt đầu và phát triển quán cà phê - bao gồm [a] coffee house, La Viet, Vietnam Coffee Republic, và The Workshop. Tại building, anh tập trung vào việc nâng cao chất lượng, giúp các công ty khởi nghiệp tiếp cận tốt hơn với thông tin và các nguồn lực, và khuyến khích việc đa dạng hóa và suy nghĩ sáng tạo tại các doanh nghiệp cà phê specialty Việt Nam. Anh tin vào tương lai của các quán cà phê Việt Nam.</p>
      </div>
    </div>
    </div>
  
</div>