<div class="container my-3 mt-5" style="font-family: 'Baloo Thambi 2', cursive; text-transform: uppercase;font-weight: bold;">
    <div class="row">
        <h1 class="menu_home_title line_after_heading" style="font-family: 'Baloo Thambi 2', cursive; text-transform: uppercase;font-weight: bold; margin-top:100px"><strong>MENU </strong>
            <br></h1>

        <%
            products.map(pro=>{%>
            <div class="row-sm-6 col-md-4 ">
                <div class="product-card" style="background: #fff2d9; border-radius:10px">
                    <div class="img">
                        <center><img src="<%= pro.imageSrc %>" width="100%" alt="" style=" box-shadow: 2px 3px 4px rgba(0, 0, 0, .5);border-radius:10px"></center>
                    </div>
                    <br>
                    <div class="content">
                        <a href="">
                            <h3>
                                <%= pro.name%>
                            </h3>
                        </a>

                        <h4>
                            <%= Intl.NumberFormat().format(pro.price)%> Đ
                        </h4>
                        <center> <a href="/cart/add/<%= pro._id %>" class="addToCart btn btn-outline-dark">Mua ngay</a></center>

                    </div>
                </div>
                <br>
            </div>
            <%})
       %>
                <br>
    </div>
    <hr> <br>


</div>