<div class="container " style="margin-top: 100px;">

    <div id="article">
        <div class="article_image height_500" style="background-image:url(/img/gioitre.jpg); background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: cover;
        overflow: hidden;" ; background-position: 50% 50%; background-repeat: no-repeat; background-size: cover; overflow: hidden;></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="article_wrap">
                        <div class="article_content_wrap">
                            <h1 style="padding: 30px;" class="line_after_heading section_heading">PHONG CÁCH "ĐI CÀ PHÊ" CỦA NGƯỜI TRẺ</h1>
                            <div class></div>
                            <div class="article_content" style="font-family: 'Quicksand', sans-serif">
                                <p><span style="font-size:15px;">Bên cạnh những ly cà phê sữa, cà phê đen pha phin truyền thống đậm đà, đông đảo giới trẻ Việt ngày càng thích thú và đón nhận những “làn sóng” cà phê mới.&nbsp;</span></p>
                                <p><span style="color:#e67e22;"><span style="font-size:16px;"><strong>Mê mẩn cà phê ngoại - Chất lượng cao từ nội dung đến hình thức</strong></span></span>
                                </p>
                                <p><span style="font-size:15px;">Theo dòng chảy của sự hiện đại, nhiều loại cà phê ngoại đã du nhập vào Việt Nam, được đón nhận và yêu thích bởi nhiều người. Đặc biệt là đối với những người trẻ thích sự mới lạ, độc đáo, yêu cầu không chỉ chất lượng cà phê mà còn phải có hình thức bắt mắt. Trong đó, những hương vị cà phê hấp dẫn và tuyệt hảo bắt nguồn từ Ý đã khiến giới trẻ say mê và luôn nằm đầu bảng danh sách lựa chọn như: Espresso, Cappuccino, Latte, Macchiato, Mocha,...&nbsp;</span></p>
                                <p style="text-align: center"><img src="//file.hstatic.net/1000075078/file/capu_99c0957c4b91412d915b56891129211f_grande.jpg"></p>
                                <p><span style="color:#e67e22;"><span style="font-size:16px;"><strong>Dành sự nồng nhiệt đối với cà phê trái cây&nbsp;</strong></span></span>
                                </p>
                                <p><span style="font-size:15px;">Không chỉ bị chinh phục bởi các loại cà phê ngoại nói trên, giới trẻ Việt còn phát cuồng với các loại cà phê trái cây được ra đời bởi sự sáng tạo tuyệt vời của những barista. Sự kết hợp giữa cà phê và các loại trái cây đã làm nên sự phong phú, đem đến nhiều sự lựa chọn hơn cho các thực khách. Đây được xem là sự sáng tạo đặc biệt và cũng rất nghệ thuật khi cà phê trái cây sẽ mang đến những cảm nhận mới rất khác biệt cho vị giác, khứu giác và cả chinh phục thị giác bởi những gam màu mới lạ và ấn tượng của nó.</span></p>
                                <p
                                    style="text-align: center">
                                    <img style="width:600px; height:600px;" src="https://sayhi.vn/blog/wp-content/uploads/2019/08/dato-2-min.jpg"></p>
                                    <p><span style="font-size:15px;">Người yêu thích cà phê trái cây có thể lựa chọn thưởng thức hương vị cà phê kết hợp với sầu riêng, cà phê kết hợp với dừa hoặc kết hợp với xoài cũng mang lại một hương vị đặc sắc. Tuy nhiên, Cold Brew Phúc bồn tử là món cà phê trái cây mà nhất định bạn không nên bỏ qua. Cold Brew - cà phê lạnh được bắt nguồn từ xứ sở Hoa anh đào, kết hợp với phúc bồn tử bạn sẽ nhâm nhi và cảm nhận được tam vị: chua chua, đăng đắng pha lẫn vị ngọt dịu. Tại The Harley Coffee, Cold Brew Phúc bồn tử được giới trẻ yêu thích khi mang đến một hương vị hoàn toàn mới, gói cả vị thơm lừng của cà phê từ 100% hạt Arabica Cầu Đất và thanh mát bởi hương phúc bồn tử tự nhiên và tươi mát.&nbsp;</span></p>
                                    <p><span style="color:#e67e22;"><span style="font-size:16px;">Đi cà phê không chỉ để uống cà phê&nbsp;</span></span>
                                    </p>
                                    <p><span style="font-size:15px;">Với nhiều sự lựa chọn và sự du nhập của các loại thức uống đa dạng trên thế giới, cũng như sự sáng tạo và làm mới không ngừng, nên dù gọi là “đi cà phê” nhưng lại có nhiều sự lựa chọn hơn là cà phê. Điều này tùy thuộc vào sở thích của mỗi người. Ngoài ra, đối với người trẻ hiện nay, đi cà phê không chỉ để thưởng thức hương vị đồ uống yêu thích, mà đó là nơi có thể học tập, làm việc nhóm, đọc sách, xả stress hay đơn giản là nơi gặp gỡ và trò chuyện cùng bạn bè. Đồng thời, cũng là nơi khởi đầu những câu chuyện, những mối quan hệ mới.</span></p>
                                    <p
                                        style="text-align: center"><img src="/img/gioitre.jpg"></p>
                                        <p><span style="font-size:15px;">Thấu hiểu khách hàng, biết rõ nhu cầu và phong cách của giới trẻ nên The Harley Coffee là điểm đến lý tưởng của nhiều đối tượng và đặc biệt là những ai luôn hướng đến phong cách trẻ trung, hiện đại. Không chỉ có menu nước đa dạng và phong phú, chất lượng cà phê hay những loại thức uống khác đều tuyệt hảo, đầy đủ các loại cà phê của nước ngoài được yêu chuộng. Mà hơn hết, The Harley Coffee gây ấn tượng và chinh phục khách hàng bằng chính thái độ phục vụ, phong cách thiết kế và cả sự tiện lợi, thân thiện.</span></p>
                                        <p
                                            style="text-align: center"><img src="//file.hstatic.net/1000075078/file/nhan_vien_52f816aa06a3438d80112048f8088f2c_grande.jpg"></p>
                                            <p><span style="font-size:15px;">The Harley Coffee là trạm dừng chân của những người trẻ năng động và hiện đại, của những con người phóng khoáng và thích trải nghiệm đặc biệt. Hơn hết, The Harley Coffee luôn quan tâm và chú ý đến cả những chi tiết hết sức nhỏ nhưng cực kỳ cần thiết cho khách hàng từ vị trí ổ cắm sạc, ánh sáng chan hoà, gió trời tự nhiên mát mẻ,... tất cả đều được The Harley Coffee tính toán và đầu tư một cách chỉn chu nhất.&nbsp;</span></p>
                                            <p><strong><em><span style="font-size:15px;">The Harley Coffee luôn sẵn sàng đón bạn để thưởng thức những hương vị thức uống thơm ngon, tận hưởng không gian thoải mái, hiện đại và gần gũi. Đặc biệt là sẽ có những phút giây thú vị bên bạn bè, người thân.&nbsp;</span></em></strong></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>