<div class="container " style="margin-top: 150px;">
    <div class="mid-title">
        <div class="titleL">
            <h1>Tin tức &amp; Sự kiện</h1>
        </div>
        <div class="titleR"></div>
        <div class="clear"></div>
    </div>

    <div class="content mb-2">
        <div class="container my-3  pt-5 ">
            <div class="row ">
                <div class="row-sm-6 col-md-4 bg-light pt-3" style=" margin-bottom: 10px; ">
                    <div class="img new">
                        <img src="/img/freeship.jpg" alt="" width="100%" height="200px"> <br><br>
                    </div>
                    <div class="content2" style=" margin-bottom: 50px; ">
                        <p style="font-size:18px; font-weight: bold;color: #ea8025">TIN TỨC</p>
                        <h1 style="font-size:20px;font-family: 'Anton', sans-serif; ">THÔNG BÁO: THE HARLEY HOUSE VỀ LẠI FREESHIP</h1>
                        <p style="font-family: 'Baloo Thambi 2', cursive;">Không để bạn chờ lâu trong mùa dịch này, từ nay THH chính thức mở lại dịch vụ giao hàng tận nơi cho khu vực Hồ Chí Minh... <a href="" class="list-unstyled" style="color: #ea8025;float: right">Xem thêm</a></p>

                    </div>
                </div>

                <div class="row-sm-6 col-md-4 bg-light pt-3" style=" margin-bottom: 10px;  ">
                    <div class="img">
                        <img src="/img/uudai.jpg" alt="" width="100%" height="200px"> <br><br>

                    </div>
                    <div class="content2" style=" margin-bottom: 50px; ">
                        <p style="font-size:18px; font-weight: bold;color: #ea8025">TIN TỨC</p>
                        <h1 style="font-size:20px;font-family: 'Anton', sans-serif; ">THE HARLEY HOUSE GIAO HÀNG TẬN NƠI TẤT CẢ CÁC SẢN PHẨM CÀ PHÊ UỐNG LIỀN</h1>
                        <p style="font-family: 'Baloo Thambi 2', cursive;">Không để bạn chờ lâu trong mùa dịch này, từ nay THH chính thức mở lại dịch vụ giao hàng tận nơi cho khu vực Hồ Chí Minh... <a href="" class="list-unstyled" style="color: #ea8025;float: right">Xem thêm</a></p>

                    </div>
                </div>

                <div class="row-sm-6 col-md-4 bg-light pt-3 " style=" margin-bottom: 10px; ">
                    <div class="img">
                        <img src="/img/giaohang.png" alt="" width="100%" height="200px"> <br><br>

                    </div>
                    <div class="content2" style=" margin-bottom: 50px; ">
                        <p style="font-size:18px; font-weight: bold;color: #ea8025">TIN TỨC</p>
                        <h1 style="font-size:20px; font-family: 'Anton', sans-serif; ">THE HARLEY HOUSE GIAO HÀNG TẬN NƠI TẤT CẢ CÁC SẢN PHẨM CÀ PHÊ UỐNG LIỀN</h1>
                        <p style="font-family: 'Baloo Thambi 2', cursive;">Không để bạn chờ lâu trong mùa dịch này, từ nay THH chính thức mở lại dịch vụ giao hàng tận nơi cho khu vực Hồ Chí Minh... <a href="" class="list-unstyled" style="color: #ea8025;float: right">Xem thêm</a></p>

                    </div>
                </div>

                <div class="row-sm-6 col-md-4 bg-light pt-3" style=" margin-bottom: 10px; ">
                    <div class="img">
                        <img src="/img/qua2.jpg" alt="" width="100%" height="200px"> <br><br>

                    </div>
                    <div class="content2" style=" margin-bottom: 50px; ">
                        <p style="font-size:18px; font-weight: bold;color: #ea8025">TIN TỨC</p>
                        <h1 style="font-size:20px;font-family: 'Anton', sans-serif; ">GỢI Ý QUÀ TẶNG ĐẦY Ý NGHĨA CHO DỊP CUỐI NĂM</h1>
                        <p style="font-family: 'Baloo Thambi 2', cursive;">Giáng sinh và năm mới 2022 đang gõ cửa, bạn muốn trao gửi tình cảm..<a href="" class="list-unstyled" style="color: #ea8025;float: right">Xem thêm</a></p>

                    </div>
                </div>

                <div class="row-sm-6 col-md-4 bg-light pt-3" style=" margin-bottom: 10px;  ">
                    <div class="img">
                        <img src="/img/trongcay.jpg" alt="" width="100%" height="200px"> <br><br>

                    </div>
                    <div class="content2" style=" margin-bottom: 50px; ">
                        <p style="font-size:18px; font-weight: bold;color: #ea8025">TIN TỨC</p>
                        <h1 style="font-size:20px;font-family: 'Anton', sans-serif; ">SỐNG XANH CÙNG CÀ PHÊ</h1>
                        <p style="font-family: 'Baloo Thambi 2', cursive;">Khí hậu thay đổi rõ rệt, ngày càng nhiều những thiên tai như bão lụt,... <a href="" class="list-unstyled" style="color: #ea8025;float: right">Xem thêm</a></p>

                    </div>
                </div>

                <div class="row-sm-6 col-md-4 bg-light pt-3 " style=" margin-bottom: 10px; ">
                    <div class="img">
                        <img src="/img/gioitre.jpg" alt="" width="100%" height="200px"> <br><br>
                    </div>
                    <div class="content2" style=" margin-bottom: 50px; ">
                        <p style="font-size:18px; font-weight: bold;color: #ea8025">TIN TỨC</p>
                        <h1 style="font-size:20px; font-family: 'Anton', sans-serif; ">PHONG CÁCH "ĐI CÀ PHÊ" CỦA NGƯỜI TRẺ</h1>
                        <p style="font-family: 'Baloo Thambi 2', cursive;">Người trẻ thường thích trải nghiệm, thích sự mới mẻ và không ngừng sáng tạo.... <a href="/function/news2/" class="list-unstyled" style="color: #ea8025;float: right">Xem thêm</a></p>
                    </div>
                </div>

                <div class="row-sm-6 col-md-4 bg-light pt-3" style=" margin-bottom: 10px; ">
                    <div class="img">
                        <img src="/img/caycafe.jpg" alt="" width="100%" height="200px"> <br><br>

                    </div>
                    <div class="content2" style=" margin-bottom: 50px; ">
                        <p style="font-size:18px; font-weight: bold;color: #ea8025">TIN TỨC</p>
                        <h1 style="font-size:20px;font-family: 'Anton', sans-serif; ">KHÁM PHÁ LỢI ÍCH VỀ DINH DƯỠNG CÓ TRONG CÀ PHÊ</h1>
                        <p style="font-family: 'Baloo Thambi 2', cursive;">Cà phê là thức uống có lợi cho sức khỏe. Nhiều nghiên cứu chỉ ra... <a href="" class="list-unstyled" style="color: #ea8025;float: right">Xem thêm</a></p>

                    </div>
                </div>

                <div class="row-sm-6 col-md-4 bg-light pt-3" style=" margin-bottom: 10px;  ">
                    <div class="img">
                        <img src="/img/staff.jpg" alt="" width="100%" height="200px"> <br><br>

                    </div>
                    <div class="content2" style=" margin-bottom: 50px; ">
                        <p style="font-size:18px; font-weight: bold;color: #ea8025">TIN TỨC</p>
                        <h1 style="font-size:20px;font-family: 'Anton', sans-serif; ">CAFE SỮA ĐÁ, CAFE CỰC "NGHIỆN! CHỈ 25,000 ĐỒNG"</h1>
                        <p style="font-family: 'Baloo Thambi 2', cursive;">Bắt đầu một ngày mới tràn đầy năng lượng và tập trung bằng 1 ly cafe sữa... <a href="" class="list-unstyled" style="color: #ea8025;float: right">Xem thêm</a></p>

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<!-- sử dụng-->