<div class="container mt-5 mb-5 w-50">
    <h3 class="title-head text-center mb-4 " style="margin-top:100px">Edit Product</h1>
        <form action="/product/edit/<%= product._id %>?_method=PUT" method="POST">
            <%- include('./form') %>
        </form>
</div>